@using NonFactors.Mvc.Grid;
@using WHITELABEL.Web.Helper;
@model WHITELABEL.Data.Models.TBL_MASTER_MEMBER
@{
    ViewBag.Title = "Get All Merchant Information";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Scripts.Render("~/bundles/MemberApilevel")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal padding-top-20">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 row headcolor">
                    <div class="col-md-4" style="text-align:left; padding-top:3px;"><i class="fa fa-wallet  fa-3x"></i> </div>

                    <div class="col-md-8" style="text-align:right; padding-top:10px;">
                        <h3>
                            All Merchant Information
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-12 padding-top-20">
                <div class=" card">
                    <div class="card-body">
                        <div class="panel-heading text-right">
                            <div class="card-title row" align="right">
                                <div class="col-md-6 text-left">
                                    <button id="btnExport" class="btn btn-info btn-xs"><span class="ion-forward"></span> EXPORT</button>
                                    @*<a href="@(Url.Action("ExportMerchantInfoIndex","MemberAPILabel", new {area="Admin" }) + ViewContext.HttpContext.Request.QueryString)?" class="btn btn-info btn-xs"><span class="ion-forward"></span> Export</a>*@
                                    @*var url = '@(Url.Action("ExportMerchantIndex", "MemberRequisitionReport", new { area = "Admin" }) + ViewContext.HttpContext.Request.QueryString)?Super=0&Distributor=' + $("#DistributorListID").val()+'&Disid=' + $("#MemberList").val() + '&statusval=' + $("#TransactionStatus").val();*@
                                </div>
                            </div>
                        </div><!--.panel-heading-->
                        <div class="panel-body">
                            <div class="form-group row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 row">
                                    <div class="col-md-4"><label style="text-align:left;">Enter Search Details</label></div>
                                    <div class="col-md-8">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(m => m.FromUser, new { htmlAttributes = new { @id = "txtMemberaNamedetails", style = " width:100%; padding:5px;", placeholder = "Enter Search Details", @class = "form-control" } })
                                                @Html.HiddenFor(model => model.SUPER_ID, new { id = "hdfmemberList" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a href="#" class="btn btn-primary" id="btnSearchList">Search</a>
                                </div>
                            </div>
                            @*<div class="row example-row" style="width:100%">
                                    <div class="col-md-12 row">
                                        <div class="col-md-3">Select Distributor</div>
                                        <div class="col-md-6">@Html.DropDownList("Distributor", new SelectList((ViewBag.MemberService) as SelectList, "Value", "Text"), "--Select Distributor--", new { id = "DistributorListID", @class = "form-control" })</div>
                                        <div class="col-md-3"></div>

                                    </div>
                                </div>*@

                            <div class="row example-row" style="width:100%; margin-top:10px;">
                                <div class="col-md-12">@Html.AjaxGrid(Url.Action("AllMerchantInformationGrid", "MemberAPILabel", new { area = "Admin" }))</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


<script>
    //$("#DistributorListID").change(function () {
    //    var SuperList = $('#DistributorListID').val();
    //    var status = $('#TransactionStatus').val();
    //    $('.mvc-grid').mvcgrid({
    //        query: 'DistributorId=' + this.value,
    //        reload: true
    //    });
    //});
    $("#btnSearchList").on("click", function () {
        var MEm_Id = $("#txtMemberaNamedetails").val();
        $('.mvc-grid').mvcgrid({
            //query: 'MerID=' + MerId + '&DateFrom=' + Date_From + '&Date_To=' + Date_TO,
            query: 'SearchVal=' + MEm_Id,
            reload: true,
            reloadStarted: function () {
                $(".divFooterTotalComm").remove();
            },
        });
    });
</script>
<script type="text/javascript">
    //$("[id$=btnExport]").click(function (e) {
    //    window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=my-ajax-grid]').html()));
    //    e.preventDefault();
    //});
    $("#btnExport").click(function () {
        var Statusval = $('#txtMemberaNamedetails').val();
          @*var url = '@(Url.Action("ExportMerchantIndex", "MemberRequisitionReport", new {area="Admin" }) + ViewContext.HttpContext.Request.QueryString)?Super=' + $("#SuperList").val() + '&Distributor=' + $("#DistributorListID").val()+'&Disid=' + $("#MemberList").val() + '&statusval=' + $("#TransactionStatus").val();*@
        var url = '@(Url.Action("ExportMerchantInfoIndex", "MemberAPILabel", new {area="Admin" }) + ViewContext.HttpContext.Request.QueryString)?MEM_ID=' + Statusval;
        window.location.href = url;
    })
</script>