@model WHITELABEL.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="~/newpanel/assets/styles/css/themes/lite-purple.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(window).bind("beforeunload", function () {
                    fnLogOut();

                })
            });

            function fnLogOut() { alert('browser closing'); }

            $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function (data) {
                console.log(JSON.stringify(data, null, 2));
                //alert(JSON.stringify(data.ip, null, 2));
                var IPAddress = JSON.stringify(data.ip, null, 2);
                $('#txtIPAddress').val(IPAddress);

            });
        });
    </script>
</head>
<body class="text-left">
    <div class="auth-layout-wrap" style="background-image: url(../../newpanel/assets/images/photo-wide-4.jpg)">
        
        <div class="auth-content">
            <div class="card o-hidden">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="p-4">
                            <div class="auth-logo text-center mb-4"><img src="../../newpanel/assets/images/BoomTravelsLogo.jpg" alt=""></div>
                            <h1 class="mb-3 text-18">Sign In</h1>
                            <form action="~/Login/Index@(ViewBag.ReturnURL==null?"":"?ReturnURL="+ViewBag.ReturnURL)" method="post">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    @*<input class="form-control form-control-rounded" id="email" type="email">*@
                                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your Boom Travel Id", @class = "form-control form-control-rounded", style = "padding:5px;" })
                                    <div style="position:relative; top: -12px; font-size:12px; color:#FF0000;">@Html.ValidationMessageFor(model => model.Email)</div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    @*<input class="form-control form-control-rounded" id="password" type="password">*@
                                    @Html.PasswordFor(m => m.Password, new { placeholder = "Enter your password", @class = "form-control form-control-rounded", style = "padding:5px;" })
                                    <div style="position:relative; top: -12px; font-size:12px; color:#FF0000;">@Html.ValidationMessageFor(model => model.Password)</div>
                                </div>
                                @*<button class="btn btn-rounded btn-primary btn-block mt-2">Sign In</button>*@
                                <button type="submit" class="btn btn-rounded btn-primary btn-block mt-2">Sign In</button>
                                @Html.HiddenFor(m => m.GetIPAddress, new { id = "txtIPAddress" })
                            </form>
                            <div class="mt-3 text-center">
                                <a class="text-muted" href="forgot.html">
                                    <u>Forgot Password?</u>
                                </a>
                            </div>
                        </div>
                    </div>
                    @*<div  class="col-md-6 text-center" style="display:none;background-size: cover;background-image: url(../../dist-assets/images/photo-long-3.jpg)">
                        <div class="pr-3 auth-right"><a class="btn btn-rounded btn-outline-primary btn-outline-email btn-block btn-icon-text" href="signup.html"><i class="i-Mail-with-At-Sign"></i> Sign up with Email</a><a class="btn btn-rounded btn-outline-google btn-block btn-icon-text"><i class="i-Google-Plus"></i> Sign up with Google</a><a class="btn btn-rounded btn-block btn-icon-text btn-outline-facebook"><i class="i-Facebook-2"></i> Sign up with Facebook</a></div>
                    </div>*@
                    
                </div>
            </div>
        </div>
    </div>
    @*<div class="auth-layout-wrap" style="background-image: url('../../newpanel/assets/images/bg.jpg');">
        <div class="auth-content">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-4" style="border-right:1px dotted #ccc;">                      
                        <img src="@ViewBag.Logopath" width="150" alt="" style="transform:rotate(270deg);-ms-transform:rotate(270deg);-moz-transform:rotate(270deg);-webkit-transform:  rotate(270deg);-o-transform:rotate(270deg); bottom:0px; position:absolute; margin-bottom:55px; left:40px;" />
                    </div>
                    <div class="col-md-8">
                        <div class="p-4">
                            <div class="auth-logo text-center mb-4">

                            </div>
                            <h1 class="mb-3 text-18">Sign In</h1>
                            <form action="~/Login/Index@(ViewBag.ReturnURL==null?"":"?ReturnURL="+ViewBag.ReturnURL)" method="post">
                                <div id="pane-login" class="panel-body active">
                                    <div class="form-group">
                                        <div>
                                            <span class="input-group-addon"></span>
                                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your TravelIQ Id", @class = "form-control form-control-rounded", style = "padding:5px;" })
                                        </div>
                                        <div style="position:relative; top: -12px; font-size:12px; color:#FF0000;">@Html.ValidationMessageFor(model => model.Email)</div>
                                    </div><!--.form-group-->
                                    <div class="form-group">
                                        <div>
                                            <span class="input-group-addon"></span>
                                            @Html.PasswordFor(m => m.Password, new { placeholder = "Enter your password", @class = "form-control form-control-rounded", style = "padding:5px;" })
                                        </div>
                                        <div style="position:relative; top: -12px; font-size:12px; color:#FF0000;">@Html.ValidationMessageFor(model => model.Password)</div>
                                    </div><!--.form-group-->
                                    <div class="form-buttons clearfix">
                                        <div class="pull-left" style="display: none;">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                            @Html.HiddenFor(m=>m.GetIPAddress,new { id="txtIPAddress"})
                                        </div>
                                        <button type="submit" class="btn btn-rounded btn-primary btn-block mt-2">Login</button>
                                    </div><!--.form-buttons-->
                                    <div class="mt-3 text-center">
                                        <div style="text-align:center; top: 20px; font-size:12px; color:#FF0000;">@ViewBag.Message</div>
                                        <a href="@Url.Action("ForgotPassword","Login",new {area="" })" class="text-muted"><u>Forgot Password?</u></a>
                                        <a href="@Url.Action("DistributorSignUp","Login",new {area="" })" class="text-muted" title="Distributor Registration" style="margin-left:40px;"><i class="fa fa-network-wired fa-2x"></i> </a>
                                        <a href="@Url.Action("MerchantSignUp","Login",new {area="" })" class="text-muted" title="Merchant Registration" style="margin-left:40px;"><i class="fa fa-user-plus fa-2x""></i></a>
                                    </div>
                                    <div class="mt-3 text-right  row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5" style="text-align:right;padding-right:3px; border-right:thick">                                           
                                        </div>
                                        <div class="col-md-5" style="text-align:left; padding-left:3px; border-right:thick">
                                        </div>

                                    </div>
                                    <!--#login.panel-body-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <script src="~/newpanel/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/newpanel/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/newpanel/assets/js/es5/script.min.js"></script>
</body>
</html>