@model WHITELABEL.Data.Models.TBL_MASTER_MEMBER
@{
    ViewBag.Title = "Merchant Registration";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="~/HelperJS/LoginJs.js"></script>

@using (Ajax.BeginForm("POSTADDMerchant", "Login", new AjaxOptions { Confirm = "Do you want to join in Boom Travels", OnSuccess = "OnSuccessMerchant", OnFailure = "OnFailureMerchant", LoadingElementId = "progressMerchant" }, new { @id = "ADDMERCHANT" }))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MEM_ID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="clearfix">
            <div class="col-md-12" style="text-align:right; padding-right:30px; padding-bottom:8px; ">
                <a href="@Url.Action("Index","Login",new {area="" })" class="text-muted" title="Login" style="margin-left:40px;"><i class="fa fa-sign-in-alt fa-2x"></i></a>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 row headcolor">
                    <div class="col-md-4" style="text-align:left; padding-top:3px;"><i class="fa fa-align-left fa-3x"></i></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="text-align:right; padding-top:10px;">
                        <h3>
                            Registration form
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @*<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3" style="text-align:right;">Select Distributor</label>
                                        <div class="col-md-6">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @Html.EditorFor(m => m.DistributorName, new { htmlAttributes = new { @id = "txtDistributorMemberaName", style = " width:100%; padding:5px;", placeholder = "--Select Distributor--", @class = "form-control" } })
                                                    @Html.HiddenFor(model => model.DISTRIBUTOR_ID, new { id = "hfDistributorId" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">User Name</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.UName, new { htmlAttributes = new { @class = "form-control", @placeholder = "User Name", @readonly = "readonly" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.UName, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row" style="display:none;">
                                    <div class="col-md-12">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.Editor("MERCHANT", new { htmlAttributes = new { @class = "form-control", @Value = "MERCHANT", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">Member Name</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.MEMBER_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Member Name" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.MEMBER_NAME, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">GST No</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.COMPANY_GST_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "GST No" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.COMPANY_GST_NO, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">Company Name</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.COMPANY, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Name" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.COMPANY, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">Member Role</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.DropDownListFor(model => model.MEMBER_ROLE, new SelectList((ViewBag.RoleDetails) as SelectList, "Value", "Text"), "Select Role", new { id = "RoleDetails", @class = "form-control" })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.MEMBER_ROLE, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">Member Address</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Member Address" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">City</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.CITY, "0", new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.CITY, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">Pin</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.PIN, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pin No" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.PIN, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">State</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.DropDownListFor(model => model.STATE_ID, new SelectList((ViewBag.StateNameList) as SelectList, "Value", "Text"), "Select State", new { id = "STATE_ID", @class = "form-control" })

                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.STATE_ID, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">Email Address</label>
                                    <div class="col-md-9">
                                        <div class="inputer">

                                            <div class="input-wrapper">
                                                @*@Html.EditorFor(model => model.EMAIL_ID, "0", new { htmlAttributes = new { @class = "form-control", id = "txtMerchantemailaddress", @placeholder = "Email Address" } })*@
                                                @Html.EditorFor(model => model.EMAIL_ID, "0", new { htmlAttributes = new { @class = "form-control", id = "txtAddNewMemberemailID", @placeholder = "Email Address" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.EMAIL_ID, "", new { @class = "text-danger" })</small></span>
                                            @*}*@
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">Mobile No</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.MEMBER_MOBILE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile No", id = "txtAddNewMemberMobileNo" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.MEMBER_MOBILE, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Optl Email Id 1</label>
                                    <div class="col-md-9">
                                        <div class="inputer">

                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.OPTIONAL_EMAIL_ID, "0", new { htmlAttributes = new { @class = "form-control", id = "emailaddressOptional", @placeholder = "Optional Email address" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.OPTIONAL_EMAIL_ID, "", new { @class = "text-danger" })</small></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Optl Mobile No 1</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.OPTIONAL_MOBILE_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Optional Mobile No" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.OPTIONAL_MOBILE_NO, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Optnl Email Id 2</label>
                                    <div class="col-md-9">
                                        <div class="inputer">

                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.SEC_OPTIONAL_EMAIL_ID, "0", new { htmlAttributes = new { @class = "form-control", id = "emailaddressOptional 2", @placeholder = "Optional Email address" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.SEC_OPTIONAL_EMAIL_ID, "", new { @class = "text-danger" })</small></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Optl Mobile No 2</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.SEC_OPTIONAL_MOBILE_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Optional Mobile No 2" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.SEC_OPTIONAL_MOBILE_NO, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">Password</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.User_pwd, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @readonly = "readonly", id = "Merchantpassword" } })
                                            </div>
                                            <input type="checkbox" onclick="myMerchantFunction()">Show Password
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.User_pwd, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">Security Pin</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.SECURITY_PIN_MD5, new { htmlAttributes = new { @class = "form-control", @placeholder = "Security Pin" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.SECURITY_PIN_MD5, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">Block Balance</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.BLOCKED_BALANCE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Block Balance", maxlength = 7 } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.BLOCKED_BALANCE, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Payment Mode</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.DropDownListFor(m => m.PAYMENT_MODE, new List<SelectListItem>
                                                    { new SelectListItem{Text="Direct", Value="Direct"},
                                                    new SelectListItem{Text="Indirect", Value="Indirect"}},
         new { id = "Paymentmode", @class = "form-control" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="display:none;">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">GST</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.DropDownListFor(model => model.GST_FLAG, new SelectList((ViewBag.GSTValue) as SelectList, "Value", "Text"), "Select GST", new { id = "txtGSTID", @class = "form-control" })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.MEMBER_MOBILE, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="display:none;">
                                <div class="form-group row">
                                    <label class="control-label col-md-3" style="text-align:left;">TDS</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.DropDownListFor(model => model.TDS_FLAG, new SelectList((ViewBag.TDSValue) as SelectList, "Value", "Text"), "Select TDS", new { id = "txtTDSID", @class = "form-control" })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.User_pwd, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Facebook  Id</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.FACEBOOK_ID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Facebook Id" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.FACEBOOK_ID, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Aadhaar card No</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.AADHAAR_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Aadhaar card no" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.AADHAAR_NO, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Pan card No</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.PAN_NO, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pan card no "} })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.PAN_NO, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Website Name</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.WEBSITE_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Website Name" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.MEMBER_MOBILE, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Old Profile Id</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.OLD_MEMBER_ID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Old Profile Id " } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.OLD_MEMBER_ID, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Description</label>
                                    <div class="col-md-9">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.TextAreaFor(model => model.NOTES, 5, 58, new { htmlAttributes = new { @class = "form-control", @style = "border-radius:5px", @placeholder = "Description" } })
                                            </div>
                                            <span class="help-block"><small>@Html.ValidationMessageFor(model => model.NOTES, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--.panel-body-->
                    <div>
                        <div class="text-center">
                            <input type="submit" value="Create" class="btn btn-primary" id="btnAddMersubmit" />

                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div><!--.panel-->
            </div><!--.col-md-12-->
        </div>
    </div>
}

<div class="preloader hidden" id="progressMerchant" style="display:none;">
    <div id="loading"></div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#progressMerchant').removeClass("hidden");
        $('#progressMerchant').hide();
    })
    function OnSuccessMerchant(response) {
        var message = response;        
        if (message == "Merchant Added Successfully") {
            $("#ADDMERCHANT").trigger("reset");           
            bootbox.alert({
                message: message,
                size: 'small',
                callback: function () {
                    console.log(message);
                    const url = "/Login/Index";
                    window.location.href = url;
                    window.location.reload(true);
                }
            })            
        }
        else {
            $("#ADDMERCHANT").trigger("reset");
            
            bootbox.alert({
                message: message,
                size: 'small',
                callback: function () {
                    console.log(message);
                    const url = "/Login/Index";
                    window.location.href = url;
                    window.location.reload(true);
                }
            })            
        }
        //callGeocodeMobile();
        //alert(message);
    }
    function OnFailureMerchant(response) {
        alert("Error occured.");
    }
</script>
<script type="text/javascript">
    function myMerchantFunction() {
        var x = document.getElementById("Merchantpassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    $(document).ready(function () {
        $('#Merchantpassword').attr('type', 'password');
    });
</script>
