@model WHITELABEL.Web.Areas.Admin.Models.MemberPasswordChange
@{
    ViewBag.Title = "Change Member Password";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*@using (Html.BeginForm("ChangePassword", "DistributorPasswordChange", FormMethod.Post, new { area = "Distributor" }))*@
@using (Ajax.BeginForm("PostChangeMemberPassword", "MemberRailwayMappingSetting", new AjaxOptions { Confirm = "Do you want to change password", OnSuccess = "OnSuccessMemberAddPasswordchange", OnFailure = "OnFailureMemberAddPasswordchange", LoadingElementId = "progressMemberAddPasswordchange" }, new { area="Admin",@id = "ChangeMemberPassword" }))
{
    <div class="form-horizontal padding-top-20">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MEM_ID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 row headcolor">
                    <div class="col-md-4" style="text-align:left; padding-top:3px;"><i class="fa fa-key fa-3x"></i> </div>

                    <div class="col-md-8" style="text-align:right; padding-top:10px;">
                        <h3>
                            Change Member Password
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="box-shadow: 5px 10px #888888; border: 1px solid #888888; padding:20px;">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="control-label col-md-4">Member Name:</label>
                                            <div class="col-md-8">
                                                <div class="inputer">
                                                    <div class="input-wrapper">
                                                        @Html.DisplayFor(model => model.MemberName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="control-label col-md-4">Member Type:</label>
                                            <div class="col-md-8">
                                                <div class="inputer">
                                                    <div class="input-wrapper">
                                                        @Html.DisplayFor(model => model.MemberRole, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="control-label col-md-4">Mobile:</label>
                                            <div class="col-md-8">
                                                <div class="inputer">
                                                    <div class="input-wrapper">
                                                        @Html.DisplayFor(model => model.MemberMobileNo, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="control-label col-md-4">Email:</label>
                                            <div class="col-md-8">
                                                <div class="inputer">
                                                    <div class="input-wrapper">
                                                        @Html.DisplayFor(model => model.MemberEmailId, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 row" style="margin-top:30px;">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="control-label col-md-4">Enter New Password</label>
                                            <div class="col-md-8">
                                                <div class="inputer">
                                                    <div class="input-wrapper">
                                                        @Html.EditorFor(model => model.User_pwd, new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password" } })
                                                    </div>
                                                    <span class="help-block"><small>@Html.ValidationMessageFor(model => model.User_pwd, "", new { @class = "text-danger" })</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="control-label col-md-4">Enter Confirm Password</label>
                                            <div class="col-md-8">
                                                <div class="inputer">
                                                    <div class="input-wrapper">
                                                        @Html.EditorFor(model => model.CONFIRMPASSWORD, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                                                    </div>
                                                    <span class="help-block"><small>@Html.ValidationMessageFor(model => model.CONFIRMPASSWORD, "", new { @class = "text-danger" })</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div><!--.row-->
                        <div class="panel-footer">
                            <div class="text-center">
                                <input type="submit" value="Update Password" class="btn btn-primary" id="btnsubmit1" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div><!--.panel-->
                </div>
            </div><!--.col-md-12-->
        </div>
    </div>
}


<div class="preloader hidden" id="progressMemberAddPasswordchange">
    <div id="loading"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#progressMemberAddPasswordchange').removeClass("hidden");
        $('#progressMemberAddPasswordchange').hide();
    })
    function OnSuccessMemberAddPasswordchange(response) {
        $('#progressMemberAddPasswordchange').removeClass("hidden");
        $('#progressMemberAddPasswordchange').hide();
        $('#loading').removeClass("hidden");
        $('#loading').hide();
        debugger;
        $('.mvc-grid').mvcgrid('reload');
        var message = response;
        //$("#FingerPrintForm").trigger("reset");
        bootbox.alert({
            message: message,
            size: 'small',
            callback: function () {
                if (message == 'Password changed Successfully') {
                    var url = "/Admin/MemberRailwayMappingSetting/Index";
                    window.location.href = url;
                }
                console.log(message);
            }
        })

        $('.mvc-grid').mvcgrid('reload');
    }
    function OnFailureMemberAddPasswordchange(response) {
        alert("Error occured.");
    }
</script>


