@using NonFactors.Mvc.Grid;
@using WHITELABEL.Web.Helper;
@model IEnumerable<WHITELABEL.Data.Models.TBL_FINAL_RDS_BOOKING>
@{
    ViewBag.Title = "IndexGrid";
    //Layout = "~/Areas/PowerAdmin/Views/Shared/_PowerAdminLayout.cshtml";
    Layout = null;
}

@(Html
                                    .Grid(Model)
                                    .Build(columns =>
                                    {
                                        columns.Add(model => model.SLN).Titled("Sln").Filterable(true).Sortable(true);
                                        columns.Add(model => model.BOOKING_GATEWAY).Titled("RDS Booking Gateway").Filterable(true).Sortable(true);
                                        columns.Add(model => model.TRAN_ID).Titled("Txn Id").Filterable(true).Sortable(true);
                                        columns.Add(model => model.PNR).Titled("Pnr").Filterable(true).Sortable(true);
                                        columns.Add(model => model.OPR_ID).Titled("Opr Id").Filterable(true).Sortable(true);
                                        columns.Add(model => model.BOOKING_AMT).Titled("Booking Amt ").Filterable(true).Sortable(true);
                                        columns.Add(model => model.PG_CHARGE).Titled("PG Charges").Filterable(true).Sortable(true);
                                        columns.Add(model => model.ADDN_CHARGE_MAX_VAL).Titled("Addn. Charges Apply").Filterable(true).Sortable(true);
                                        columns.Add(model => model.TOTAL_NET_PAYBLE_WITHOUT_GST).Titled("Total Netamt Without GST ").Filterable(true).Sortable(true);
                                        columns.Add(model => model.TOTAL_NET_PAYBLE_GST).Titled("Total Netamt With GST ").Filterable(true).Sortable(true);
                                        columns.Add(model => model.TOTAL_NET_PAYBLE).Titled("Total Netamt").Filterable(true).Sortable(true);
                                        columns.Add(model => model.TRAN_DATE).Titled("Tranx Date").Formatted("{0:MM/dd/yyyy}").MultiFilterable(true).Sortable(true);
                                        columns.Add(model => model.TRAN_DATE).Titled("Tranx Time").Formatted("{0:T}").Filterable(false).Sortable(false);
                                    })
                                    .Empty("No data found")
                                    .Id("my-ajax-grid")
                                    .Pageable(pager =>
                                    {
                                     pager.PagesToDisplay = 15;
                                     pager.RowsPerPage =15;
                                    })
                                    .Filterable()
                                    .Sortable()
)
<table class="divFooterTotalComm" style="width:100%">
    <tr>
        <td style="width:18%;">Total Booking Amt:- <b>@Model.Sum(z => z.BOOKING_AMT)</b></td>
        <td style="width:10%;">Total PG Charges:- <b>@Model.Sum(z => z.PG_CHARGE)</b></td>
        <td style="width:18%;">Total Addn. Charges:- <b>@Model.Sum(z => z.ADDN_CHARGE_MAX_VAL)</b></td>
        <td style="width:18%;">Total Net.amt Without GST:- <b>@Model.Sum(z => z.TOTAL_NET_PAYBLE_WITHOUT_GST)</b></td>
        <td style="width:18%;">Total Net.amt With GST:- <b>@Model.Sum(z => z.TOTAL_NET_PAYBLE_GST)</b></td>
        <td style="width:18%;">Total Net.amt:- <b>@Model.Sum(z => z.TOTAL_NET_PAYBLE)</b></td>
        <td></td>
    </tr>
</table>
