
@{
    ViewBag.Title = "FlightBookingDetails";
    Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
}

<style>
    .fb {
        font-weight: bold;
        font-style: normal;
    }

    .brdrRd5 {
        border-radius: 5px;
    }

    .fltHpySrt li {
        width: 25%;
        list-style: none;
    }

    .curPointFlt {
        cursor: pointer;
    }

    .dF {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
    }

    .clr {
        clear: both;
    }

    .fltHpyRsltCard {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    }

    .flexCol {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .fl {
        float: left;
    }

    .alignItemsCenter {
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .flightImagesNew {
        max-height: 30px;
    }

    .flightImagesNew {
        max-width: 100%;
        max-height: 30px;
        padding-right: 10px;
    }

    .padT10 {
        padding-top: 10px;
    }

    .alignItemsEnd {
        -webkit-align-items: flex-end;
        -ms-align-items: flex-end;
        align-items: flex-end;
    }

    .fGS0 {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .db {
        display: block;
    }

    .textOverflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ico12 {
        font-size: 12px;
    }

    .ico11 {
        font-size: 11px;
    }

    .quicks {
        font-family: "QuickSand",Helvetica,Arial,sans-serif;
    }

    .padT5 {
        padding-top: 5px;
    }

    .ico18 {
        font-size: 18px;
    }

    .fGS0 {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .ico15 {
        font-size: 15px;
    }

    .justifyBetween {
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }

    .alignItemsCenter {
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .ico20 {
        font-size: 20px;
    }

    .button.fltbook {
        border-radius: 5px;
        padding: 7px 0;
        background-color: #f37638;
        border: solid 1px #f37638;
    }

    .fr {
        float: right;
    }

    .widthF105 {
        width: 80px;
    }

    .padB20 {
        padding-bottom: 20px;
    }

    .justifyEnd {
        -webkit-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
    }

    .marginT10 {
        margin-top: 10px;
    }

    .ico12 {
        font-size: 12px;
    }

    .ico11 {
        font-size: 11px;
    }

    .padTB10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .alignItemsEnd {
        -webkit-align-items: flex-end;
        -ms-align-items: flex-end;
        align-items: flex-end;
    }

    .justifyBetween {
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }

    .width100 {
        width: 100%;
    }

    .padL10 {
        padding-left: 10px;
    }

    .dF {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
    }

    .ico11 {
        font-size: 11px;
    }

    .db {
        display: block;
    }

    .fl {
        float: left;
    }

    .width29 {
        width: 29%;
    }

    .padLR0 {
        padding-left: 0;
        padding-right: 0;
    }

    .padB5 {
        padding-bottom: 5px;
    }

    .ico12 {
        font-size: 12px;
    }

    .ico12 {
        font-size: 12px;
    }

    .fb {
        font-weight: bold;
        font-style: normal;
    }

    .alignSelfCenter {
        -webkit-align-self: center;
        -ms-align-self: center;
        align-self: center;
    }

    .padB5 {
        padding-bottom: 5px;
    }

    .ico12 {
        font-size: 12px;
    }

    .pad0 {
        padding: 0 !important;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .prgrsDot.dotVH:before {
        visibility: hidden;
    }

    .prgrsDot:after {
        width: 100%;
        height: 1px;
        content: '';
        position: absolute;
        background-color: #e7e7e7;
        top: 1px;
        z-index: 0;
    }

    .width70 {
        width: 70%;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .padB5 {
        padding-bottom: 5px;
    }

    .padLR0 {
        padding-left: 0;
        padding-right: 0;
    }

    .widMd30 {
        width: 30%;
    }

    .flexCol {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .stickyHpy {
        position: sticky;
        top: 0;
        z-index: 9;
    }

    .brdrRd10 {
        border-radius: 10px;
    }

    .fltHpyRsltCard {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    }

    .marginT5 {
        margin-top: 5px;
    }

    .pad10 {
        padding: 10px;
    }

    .borderRight {
        border-right: 1px solid #e6e6e6;
    }

    .width50 {
        width: 50%;
    }

    .width30 {
        width: 30%;
    }

    .fltHpySumryPrc {
        border-left: 1px dashed #c2c2c2;
    }

    .padR15 {
        padding-right: 15px;
    }

    .ico24 {
        font-size: 24px;
    }

    .padTB15 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .borderAll {
        border: 1px solid #e6e6e6;
    }

    .brRadius5 {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    a:hover {
        color: #f77521;
    }

    .greenBgLt {
        background-color: #7ed321;
    }

    .brRadius2 {
        border-radius: 2px;
    }

    .fr {
        float: right;
    }

    .txtTransUpper {
        text-transform: uppercase;
    }

    .txtUln {
        text-decoration: underline;
    }

    .padTB10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .padB5 {
        padding-bottom: 5px;
    }

    .padT10 {
        padding-top: 10px;
    }

    .borderTop {
        border-top: 1px solid #e6e6e6;
    }

    .padB5 {
        padding-bottom: 5px;
    }

    .padT10 {
        padding-top: 10px;
    }

    .gstTabs {
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        float: left;
        border: 1px solid #e6e6e6;
        background: #fff;
        overflow: hidden;
        margin: 0 0 15px 0;
    }

        .gstTabs .tabs {
            padding: 7px 15px;
            float: left;
            border-right: 1px solid #e6e6e6;
        }

    .greyBg {
        background: #f5f5f5;
    }

    .gstTabs .tabs span {
        color: #2d67b2;
        font-size: 15px;
        line-height: 1;
    }

    .gstTabs .tabs.last {
        border-right: none;
    }

    .gstTabs .tabs.active {
        background: #2d67b2;
    }

        .gstTabs .tabs.active span {
            color: #fff;
        }

    .padTB10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .button.orange {
        background: #f26722;
        color: #fff;
        margin-right: 20px;
    }

    .button.large {
        font-size: 16px;
        line-height: 1.33;
        padding: 8px 16px;
    }

    .button {
        cursor: pointer;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        padding: 7px 15px;
        text-align: center;
        color: #fff;
        border: 0;
        font-size: 14px;
        -webkit-appearance: none;
    }

    .justifyCenter {
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }

    .alert_msg.info_msg {
        color: #40708D;
        background: #F5FBFE;
    }

    .alert_msg {
        font-size: 12px;
        padding: 5px;
        margin-bottom: 10px;
        width: 100%;
    }

        .alert_msg.info_msg .status_info {
            background: #74BFDB;
        }

        .alert_msg .status_info {
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            margin-right: 10px;
            padding: 3px 7px 1px;
        }

        .alert_msg .status_cont {
            line-height: 18px;
        }

    .padLR10 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ico14 {
        font-size: 14px;
    }

    .smlrBrdrDsh {
        border-bottom: 1px dashed #cbcbcb;
    }

    .fr {
        float: right;
    }

    .ico16 {
        font-size: 16px;
    }

    .ico12 {
        font-size: 12px;
    }

    .blue {
        color: #2d67b2;
    }

    .smlrBrdrDsh {
        border-bottom: 1px dashed #cbcbcb;
    }
    [ng-cloak] {
        display: none !important;
    }
</style>
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>*@
<script src="//momentjs.com/downloads/moment.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/bootstrap.bundle.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/perfect-scrollbar.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/script.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/sidebar.large.script.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/nuslider.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/app.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/FlightServices.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/FlightVerificationController.js"></script>
<div ng-app="AirportAutocompleteoduleApp" class="display-animation" ng-controller="FlightVerificationController" ng-init="loadFlightDetails('@ViewBag.TrackNo','@ViewBag.TripMode');populatePesengerList('@ViewBag.AdultCount','@ViewBag.ChildCount','@ViewBag.InfantCount');" id="FlightBookingControllerId">
    <div class="content" style="margin-top:20px;">
        <div class="display-animation">
            <div class="full-content margin-bottom-40 bg-white" id="Bill_page">
                <div class="row example-row" style="min-height:350px;">

                    <div class=" col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">

                                    <div class=" whiteBg posRel crdShdw brRadius5 fl width100 marginT10 padB20">
                                        <div class="fl width100 borderBtm padLR15 padTB10">
                                            <div class="fl">
                                                <span class="fl padLR10 padT5 ico18 quicks fb">Ticket Details</span>
                                            </div>
                                        </div>
                                        <div>
                                            @if (ViewBag.TripMode == "1")
                                            {
                                                <div>
                                                    <div class="flt-details">
                                                        <div class="fl width100 padTB10">
                                                            <div class="fl width100 padLR10 padTB10">
                                                                <i class="fl icon-flight_line1 ico18 mobdn blue "></i>
                                                                <span class="fl mobdn ico18 padL10" ng-show="flightDetails[0].FromAirportName" ng-cloak>{{flightDetails[0].FromAirportName}} to {{flightDetails[flightDetails.length - 1].ToAirportName}} {{getAirDate(flightDetails[0].ArrDate) | date : 'EEEE, dd MMM yyyy'}}</span>
                                                                <span class="fr txtTransUpper white ico11 brRadius2 pad5 greenBgLt">Partially Refundable</span>
                                                                <a class="fr pad5 mobTxtRight ico12 txtUln">Baggage and Fare Rules</a>
                                                            </div>
                                                            <div class="borderAll posRel whiteBg brRadius5 fl width100 fl padTB10">
                                                                <div class="bkHalfCircleTop mobdn bkHalfCirctop posAbs"></div>
                                                                <div ng-repeat="item in flightDetails">
                                                                    <div class="fl width100 bkFlt padLR20 padTB10">
                                                                        <div class="col-md-2 padT10 col-sm-2 col-xs-3 bkAirlineLogo">
                                                                            <span class="db padB5"><img src="//goibibo.ibcdn.com/images/v2/carrierImages/6E.gif" class="flightImagesNew" alt="flights icon"></span>
                                                                            <span class="db greyLt ico12">{{item.AirlineName}}</span><span class="db greyLter padT2 ico11">{{getFlightClass(item.FlightClass)}}</span>
                                                                            <span class="db greyLter padT2 ico11">({{item.FlightNo}})</span><span class="db greyLter padT2 ico11 fb">(Aircraft:320)</span>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-3 col-xs-4 padL20">
                                                                            <span class="co12 db grey">{{getAirDate(item.DepDate) | date: 'EEE MMM dd yyyy'}}</span>
                                                                            <span class="ico20 db padT5 padB10">{{item.FromAirportCode}}
                                                                                <span class="fb mobdb">{{item.DepTime}}</span>
                                                                            </span><span class="ico13 db greyLter lh1-2 mobdn">
                                                                                <span class="db">{{item.FromAirportName}}</span>
                                                                                <span class="db">{{item.FromAirportName}}</span>
                                                                                <span class="db ico11">(Terminal:{{item.FromTerminal}})</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-md-4 col-sm-4 col-xs-4 mobdn txtCenter padLR20 padT20">
                                                                            <span class="db ico20 backgroundLn">
                                                                                <i class="oval-2 fl"></i>
                                                                                <span class="padLR10 whiteBg">{{calculateDurationTime(item.FlightTime)}}</span><i class="fr ico22 blue icon-flight_line1"></i>
                                                                            </span>
                                                                            <span class="ico12 greyLter padT5 txtCap">Flight Duration</span>
                                                                        </div>
                                                                        <div class="visible-xs padT20 col-xs-1"><i class="fr ico22 blue icon-flight_line1"></i></div>
                                                                        <div class="col-md-3 col-sm-3 col-xs-4 padL10 mobTxtRight">
                                                                            <span class="co12 db grey">{{getAirDate(item.ArrDate) | date: 'EEE MMM dd yyyy'}}</span>
                                                                            <span class="ico20 db padT5 padB10">
                                                                                {{item.ToAirportCode}}
                                                                                <span class="fb mobdb">{{item.ArrTime}}</span>
                                                                            </span><span class="ico13 db greyLter lh1-2 mobdn">
                                                                                <span class="db">{{item.ToAirportName}}</span>
                                                                                <span class="db">{{item.ToAirportName}}</span>
                                                                                <span class="db ico11">(Terminal:{{item.ToTerminal}})</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="fl width100 padT10 padB5 borderTop">
                                                                        <span class="col-md-9 col-sm-9 col-xs-4 ico12 greyLt">
                                                                            <!-- react-text: 228 --><!-- /react-text -->
                                                                            <span class="col-md-7 fl padLR10 mobdn">
                                                                                <i class="fl iconflt-bagln ico11 padR5"></i>
                                                                                <span>20 Kgs Check-In</span><!-- react-text: 989 -->, <!-- /react-text -->
                                                                                <span>7 Kgs Cabin</span>
                                                                            </span>
                                                                        </span><!-- react-text: 229 --><!-- /react-text -->
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="bkHalfCircle bkHalfCircbot mobdn posAbs"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    
                                                </div>
                                            }
                                            else if (ViewBag.TripMode == "2")
                                            {
                                                <div>
                                                    <div class="flt-details">
                                                        <div class="fl width100 padTB10">
                                                            <div class="fl width100 padLR10 padTB10">
                                                                <i class="fl icon-flight_line1 ico18 mobdn blue "></i>
                                                                <span class="fl mobdn ico18 padL10">Kolkata Delhi Thursday, 16 Jul 202</span>
                                                                <span class="fr txtTransUpper white ico11 brRadius2 pad5 greenBgLt">Partially Refundable</span>
                                                                <a class="fr pad5 mobTxtRight ico12 txtUln">Baggage and Fare Rules</a>
                                                            </div>
                                                            <div class="borderAll posRel whiteBg brRadius5 fl width100 fl padTB10">
                                                                <div class="bkHalfCircleTop mobdn bkHalfCirctop posAbs"></div>
                                                                <div>
                                                                    <div class="fl width100 bkFlt padLR20 padTB10">
                                                                        <div class="col-md-2 padT10 col-sm-2 col-xs-3 bkAirlineLogo">
                                                                            <span class="db padB5"><img src="//goibibo.ibcdn.com/images/v2/carrierImages/6E.gif" class="flightImagesNew" alt="flights icon"></span>
                                                                            <span class="db greyLt ico12">IndiGo</span><span class="db greyLter padT2 ico11">Economy</span>
                                                                            <span class="db greyLter padT2 ico11">(6E-374)</span><span class="db greyLter padT2 ico11 fb">(Aircraft:320)</span>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-3 col-xs-4 padL20">
                                                                            <span class="co12 db grey">Thu Jul 16 2020</span>
                                                                            <span class="ico20 db padT5 padB10">
                                                                                <!-- react-text: 178 -->CCU<!-- /react-text --><!-- react-text: 179 --> <!-- /react-text -->
                                                                                <span class="fb mobdb">08:45</span>
                                                                            </span><span class="ico13 db greyLter lh1-2 mobdn">
                                                                                <span class="db"><!-- react-text: 183 -->Nscbi Airport<!-- /react-text --><!-- react-text: 184 -->,<!-- /react-text --></span>
                                                                                <span class="db"><!-- react-text: 186 -->Kolkata<!-- /react-text --><!-- react-text: 187 -->, <!-- /react-text --><!-- react-text: 188 -->India<!-- /react-text --></span>
                                                                                <span class="db ico11"><!-- react-text: 190 -->(Terminal: <!-- /react-text --><!-- react-text: 191 -->-<!-- /react-text --><!-- react-text: 192 -->)<!-- /react-text --></span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-md-4 col-sm-4 col-xs-4 mobdn txtCenter padLR20 padT20">
                                                                            <span class="db ico20 backgroundLn">
                                                                                <i class="oval-2 fl"></i>
                                                                                <span class="padLR10 whiteBg">1h 15m</span><i class="fr ico22 blue icon-flight_line1"></i>
                                                                            </span>
                                                                            <span class="ico12 greyLter padT5 txtCap"><!-- react-text: 199 -->Flight<!-- /react-text --><!-- react-text: 200 --> Duration<!-- /react-text --></span>
                                                                        </div>
                                                                        <div class="visible-xs padT20 col-xs-1"><i class="fr ico22 blue icon-flight_line1"></i></div>
                                                                        <div class="col-md-3 col-sm-3 col-xs-4 padL10 mobTxtRight">
                                                                            <span class="co12 db grey">Thu Jul 16 2020</span>
                                                                            <span class="ico20 db padT5 padB10">
                                                                                <!-- react-text: 206 -->GAU<!-- /react-text --><!-- react-text: 207 --> <!-- /react-text -->
                                                                                <span class="fb mobdb">10:00</span>
                                                                            </span><span class="ico13 db greyLter lh1-2 mobdn">
                                                                                <span class="db"><!-- react-text: 211 -->Lokpriya Gopinath Bordoloi International Airport<!-- /react-text --><!-- react-text: 212 -->,<!-- /react-text --></span>
                                                                                <span class="db"><!-- react-text: 214 -->Guwahati<!-- /react-text --><!-- react-text: 215 -->, <!-- /react-text --><!-- react-text: 216 -->India<!-- /react-text --></span>
                                                                                <span class="db ico11"><!-- react-text: 218 -->(Terminal: <!-- /react-text --><!-- react-text: 219 -->-<!-- /react-text --><!-- react-text: 220 -->)<!-- /react-text --></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="fl width100 padT10 padB5 borderTop">
                                                                        <span class="col-md-9 col-sm-9 col-xs-4 ico12 greyLt">
                                                                            <!-- react-text: 228 --><!-- /react-text -->
                                                                            <span class="col-md-7 fl padLR10 mobdn">
                                                                                <i class="fl iconflt-bagln ico11 padR5"></i>
                                                                                <span>20 Kgs Check-In</span><!-- react-text: 989 -->, <!-- /react-text -->
                                                                                <span>7 Kgs Cabin</span>
                                                                            </span>
                                                                        </span><!-- react-text: 229 --><!-- /react-text -->
                                                                    </div>
                                                                </div><div>
                                                                    <div class="fl width100 txtCenter bg-greyLtest2 padTB15 backgroundLn mobpadTB5">
                                                                        <span class="bg-greyLtest2 ico13 dib padLR20">
                                                                            <span class="db">
                                                                                <i class="whiteBg dib vtop icon-time ico15 padR3 red"></i>
                                                                                <span class="mobdn"><!-- react-text: 236 -->GAU<!-- /react-text --><!-- react-text: 237 --> (<!-- /react-text --><!-- react-text: 238 -->Guwahati<!-- /react-text --><!-- react-text: 239 -->) <!-- /react-text --></span><!-- react-text: 240 -->1h 55m Layover<!-- /react-text -->
                                                                            </span>
                                                                            <span class="db"></span>
                                                                        </span>
                                                                    </div><div>
                                                                        <div class="fl width100 bkFlt padLR20 padTB10">
                                                                            <div class="col-md-2 padT10 col-sm-2 col-xs-3 bkAirlineLogo">
                                                                                <span class="db padB5"><img src="//goibibo.ibcdn.com/images/v2/carrierImages/6E.gif" class="flightImagesNew" alt="flights icon"></span>
                                                                                <span class="db greyLt ico12">IndiGo</span><span class="db greyLter padT2 ico11">Economy</span>
                                                                                <span class="db greyLter padT2 ico11"><!-- react-text: 250 -->(<!-- /react-text --><!-- react-text: 251 -->6E<!-- /react-text --><!-- react-text: 252 -->-<!-- /react-text --><!-- react-text: 253 -->614<!-- /react-text --><!-- react-text: 254 -->)<!-- /react-text --></span><span class="db greyLter padT2 ico11 fb"><!-- react-text: 256 -->(Aircraft: <!-- /react-text --><!-- react-text: 257 -->320<!-- /react-text --><!-- react-text: 258 -->)<!-- /react-text --></span>
                                                                            </div>
                                                                            <div class="col-md-3 col-sm-3 col-xs-4 padL20">
                                                                                <span class="co12 db grey">Thu Jul 16 2020</span>
                                                                                <span class="ico20 db padT5 padB10"><!-- react-text: 262 -->GAU<!-- /react-text --><!-- react-text: 263 --> <!-- /react-text --><span class="fb mobdb">11:55</span></span>
                                                                                <span class="ico13 db greyLter lh1-2 mobdn">
                                                                                    <span class="db"><!-- react-text: 267 -->Lokpriya Gopinath Bordoloi International Airport<!-- /react-text --><!-- react-text: 268 -->,<!-- /react-text --></span>
                                                                                    <span class="db"><!-- react-text: 270 -->Guwahati<!-- /react-text --><!-- react-text: 271 -->, <!-- /react-text --><!-- react-text: 272 -->India<!-- /react-text --></span>
                                                                                    <span class="db ico11"><!-- react-text: 274 -->(Terminal: <!-- /react-text --><!-- react-text: 275 -->-<!-- /react-text --><!-- react-text: 276 -->)<!-- /react-text --></span>
                                                                                </span>
                                                                            </div><div class="col-md-4 col-sm-4 col-xs-4 mobdn txtCenter padLR20 padT20">
                                                                                <span class="db ico20 backgroundLn">
                                                                                    <i class="oval-2 fl"></i>
                                                                                    <span class="padLR10 whiteBg">2h 45m</span><i class="fr ico22 blue icon-flight_line1"></i>
                                                                                </span><span class="ico12 greyLter padT5 txtCap"><!-- react-text: 283 -->Flight<!-- /react-text --><!-- react-text: 284 --> Duration<!-- /react-text --></span>
                                                                            </div>
                                                                            <div class="visible-xs padT20 col-xs-1"><i class="fr ico22 blue icon-flight_line1"></i></div>
                                                                            <div class="col-md-3 col-sm-3 col-xs-4 padL10 mobTxtRight">
                                                                                <span class="co12 db grey">Thu Jul 16 2020</span>
                                                                                <span class="ico20 db padT5 padB10">
                                                                                    <!-- react-text: 290 -->DEL<!-- /react-text --><!-- react-text: 291 --> <!-- /react-text -->
                                                                                    <span class="fb mobdb">14:40</span>
                                                                                </span><span class="ico13 db greyLter lh1-2 mobdn">
                                                                                    <span class="db"><!-- react-text: 295 -->Delhi Airport<!-- /react-text --><!-- react-text: 296 -->,<!-- /react-text --></span><span class="db"><!-- react-text: 298 -->Delhi<!-- /react-text --><!-- react-text: 299 -->, <!-- /react-text --><!-- react-text: 300 -->India<!-- /react-text --></span><span class="db ico11"><!-- react-text: 302 -->(Terminal: <!-- /react-text --><!-- react-text: 303 -->3<!-- /react-text --><!-- react-text: 304 -->)<!-- /react-text --></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="fl width100 padT10 padB5 borderTop">
                                                                            <span class="col-md-9 col-sm-9 col-xs-4 ico12 greyLt">
                                                                                <!-- react-text: 312 --><!-- /react-text --><span class="col-md-7 fl padLR10 mobdn">
                                                                                    <i class="fl iconflt-bagln ico11 padR5"></i><span>20 Kgs Check-In</span><!-- react-text: 994 -->, <!-- /react-text -->
                                                                                    <span>7 Kgs Cabin</span>
                                                                                </span>
                                                                            </span><!-- react-text: 313 --><!-- /react-text -->
                                                                        </div>
                                                                    </div>
                                                                </div><!-- react-text: 314 --><!-- /react-text -->
                                                                <div class="bkHalfCircle bkHalfCircbot mobdn posAbs"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="flt-details">
                                                        <div class="fl width100 padTB10">
                                                            <div class="fl width100 padLR10 padTB10">
                                                                <i class="fl icon-flight_line1 ico18 mobdn blue trans180"></i>
                                                                <span class="fl mobdn ico18 padL10"><!-- react-text: 321 --> <!-- /react-text --><!-- react-text: 322 -->Delhi<!-- /react-text --><!-- react-text: 323 --> - <!-- /react-text --><!-- react-text: 324 -->Kolkata<!-- /react-text --><!-- react-text: 325 --> <!-- /react-text --><!-- react-text: 326 -->Wednesday, 22 Jul 2020<!-- /react-text --><!-- react-text: 327 --> <!-- /react-text --></span>
                                                                <span class="fr txtTransUpper white ico11 brRadius2 pad5 greenBgLt">Partially Refundable</span>
                                                                <a class="fr pad5 mobTxtRight ico12 txtUln">Baggage and Fare Rules</a>
                                                            </div><div class="borderAll posRel whiteBg brRadius5 fl width100 fl padTB10">
                                                                <div class="bkHalfCircleTop mobdn bkHalfCirctop posAbs"></div><div>
                                                                    <div class="fl width100 bkFlt padLR20 padTB10">
                                                                        <div class="col-md-2 padT10 col-sm-2 col-xs-3 bkAirlineLogo">
                                                                            <span class="db padB5"><img src="//goibibo.ibcdn.com/images/v2/carrierImages/I5.gif" class="flightImagesNew" alt="flights icon"></span>
                                                                            <span class="db greyLt ico12">AirAsia India</span><span class="db greyLter padT2 ico11">Economy</span>
                                                                            <span class="db greyLter padT2 ico11"><!-- react-text: 340 -->(<!-- /react-text --><!-- react-text: 341 -->I5<!-- /react-text --><!-- react-text: 342 -->-<!-- /react-text --><!-- react-text: 343 -->548<!-- /react-text --><!-- react-text: 344 -->)<!-- /react-text --></span><span class="db greyLter padT2 ico11 fb"><!-- react-text: 346 -->(Aircraft: <!-- /react-text --><!-- react-text: 347 -->320<!-- /react-text --><!-- react-text: 348 -->)<!-- /react-text --></span>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-3 col-xs-4 padL20">
                                                                            <span class="co12 db grey">Wed Jul 22 2020</span>
                                                                            <span class="ico20 db padT5 padB10"><!-- react-text: 352 -->DEL<!-- /react-text --><!-- react-text: 353 --> <!-- /react-text --><span class="fb mobdb">04:50</span></span>
                                                                            <span class="ico13 db greyLter lh1-2 mobdn">
                                                                                <span class="db"><!-- react-text: 357 -->Delhi Airport<!-- /react-text --><!-- react-text: 358 -->,<!-- /react-text --></span>
                                                                                <span class="db"><!-- react-text: 360 -->Delhi<!-- /react-text --><!-- react-text: 361 -->, <!-- /react-text --><!-- react-text: 362 -->India<!-- /react-text --></span>
                                                                                <span class="db ico11"><!-- react-text: 364 -->(Terminal: <!-- /react-text --><!-- react-text: 365 -->3<!-- /react-text --><!-- react-text: 366 -->)<!-- /react-text --></span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-md-4 col-sm-4 col-xs-4 mobdn txtCenter padLR20 padT20">
                                                                            <span class="db ico20 backgroundLn">
                                                                                <i class="oval-2 fl"></i><span class="padLR10 whiteBg">2h 00m</span>
                                                                                <i class="fr ico22 blue icon-flight_line1"></i>
                                                                            </span>
                                                                            <span class="ico12 greyLter padT5 txtCap"><!-- react-text: 373 -->Flight<!-- /react-text --><!-- react-text: 374 --> Duration<!-- /react-text --></span>
                                                                        </div>
                                                                        <div class="visible-xs padT20 col-xs-1"><i class="fr ico22 blue icon-flight_line1"></i></div>
                                                                        <div class="col-md-3 col-sm-3 col-xs-4 padL10 mobTxtRight">
                                                                            <span class="co12 db grey">Wed Jul 22 2020</span>
                                                                            <span class="ico20 db padT5 padB10">
                                                                                <!-- react-text: 380 -->CCU<!-- /react-text --><!-- react-text: 381 --> <!-- /react-text -->
                                                                                <span class="fb mobdb">06:50</span>
                                                                            </span>
                                                                            <span class="ico13 db greyLter lh1-2 mobdn">
                                                                                <span class="db"><!-- react-text: 385 -->Nscbi Airport<!-- /react-text --><!-- react-text: 386 -->,<!-- /react-text --></span>
                                                                                <span class="db"><!-- react-text: 388 -->Kolkata<!-- /react-text --><!-- react-text: 389 -->, <!-- /react-text --><!-- react-text: 390 -->India<!-- /react-text --></span>
                                                                                <span class="db ico11"><!-- react-text: 392 -->(Terminal: <!-- /react-text --><!-- react-text: 393 -->2<!-- /react-text --><!-- react-text: 394 -->)<!-- /react-text --></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="fl width100 padT10 padB5 borderTop">
                                                                        <span class="col-md-9 col-sm-9 col-xs-4 ico12 greyLt">
                                                                            <!-- react-text: 402 --><!-- /react-text -->
                                                                            <span class="col-md-7 fl padLR10 mobdn">
                                                                                <i class="fl iconflt-bagln ico11 padR5"></i><span>20 Kgs Check-In</span><!-- react-text: 999 -->, <!-- /react-text -->
                                                                                <span>7 Kgs Cabin</span>
                                                                            </span>
                                                                        </span><!-- react-text: 403 --><!-- /react-text -->
                                                                    </div>
                                                                </div><!-- react-text: 404 --><!-- /react-text -->
                                                                <div class="bkHalfCircle bkHalfCircbot mobdn posAbs"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div>Multi City</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="card" style="margin-top:20px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="borderAll whiteBg posRel crdShdw brRadius5 fl width100 marginT10">
                                        <div class="fl width100 padLR15 padTB10 borderBtm">
                                            <div class="fl">
                                                <span class="fl padLR10 padT5 ico18 quicks fb">Traveller Details</span>
                                            </div>
                                        </div>
                                        <form id="travellerForm" name="travellerForm" method="POST">
                                            <div class="fl width100 padLR20 mobpadLR5 bkTraveller padT10">
                                                <div class="fl width100">
                                                    <div style="width: 210px; margin: 0px auto;">
                                                        <div class="gstTabs">
                                                            <a class="tabs active" id="gstPersonal"><span>Personal</span></a>
                                                            <a class="tabs last " id="gstBusiness"><span>Business</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dn" style="display:none">
                                                    <div class="width100 fl greyBg pad10 marginB15" id="gst_form">
                                                        <span class="width100 fl ico14 fmed greyDr">Business Profile</span>
                                                        <span class="fl padT10 gst_error col-md-12 col-sm-12 col-xs-12 dn">
                                                            <span class="alert_msg failure_msg fl">
                                                                <b class="status_info fl">Warning: </b>
                                                            </span>
                                                        </span><div class="width100 fl ">
                                                            <div class="col-md-4 col-sm-4 col-xs-12 padT10">
                                                                <span class="width100 fl padB5 ico13 greyLt">GST Number</span>
                                                                <input type="text" id="gstn" maxlength="15" class="form-control" placeholder="eg: 22AAAAA0000A1Z5" data-field="gstn" data-fieldname="GSTN" style="text-transform: uppercase;">
                                                            </div><div class="col-md-4 col-sm-4 col-xs-12 padT10">
                                                                <span class="width100 fl padB5 ico13 greyLt">Company Name</span>
                                                                <input type="text" id="cname" name="pay_gst_company_name" class="form-control" placeholder="Company Name" data-field="cname" data-fieldname="Company Name">
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-12 padT10" id="pay_gst_business_email_div">
                                                                <span class="width100 fl padB5 ico13 greyLt">Business Email ID</span>
                                                                <input type="text" name="pay_gst_business_email" class="form-control" placeholder="Business Email ID" data-field="email" data-fieldname="Business Email">
                                                            </div>
                                                        </div>
                                                        <div class="width100 fl padT10">
                                                            <span class="width100 fl padB5 ico13 greyLt">Company Address</span>
                                                            <input type="text" id="caddress" name="pay_gst_company_address" class="form-control" placeholder="Company Address" data-field="caddress" data-fieldname="Company Address">
                                                        </div>
                                                        <div class="width100 fl">
                                                            <div class="col-md-4 padT10 col-sm-4 col-xs-12" id="pay_gst_phone_number_div">
                                                                <span class="width100 fl padB5 ico13 greyLt">Phone Number</span>
                                                                <input type="number" id="phone" name="pay_gst_phone_number" maxlength="10" class="form-control" placeholder="+91 " data-field="phone" data-fieldname="Phone Number">
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-12 padT10">
                                                                <span class="width100 fl padB5 ico13 greyLt">Country</span>
                                                                <input type="text" id="country" class="form-control width100 fl" data-field="country" data-fieldname="Country">
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-12 padT10">
                                                                <span class="width100 fl padB5 ico13 greyLt">State</span>
                                                                <input type="text" id="cstate" class="form-control width100 fl" data-field="cstate" data-fieldname="State">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="alert_msg info_msg fl"><b class="status_info fl">Note: </b><span class="status_cont">Please make sure you enter the Name as per your govt. photo id.</span></div>
                                                <div>
                                                    <div class="fl width100 padLR10 greyBg borderBtm marginB5" ng-repeat="psssenger in passengers">
                                                        <div class="fl width100 padTB10 curPoint">
                                                            <span class="fl padR5">
                                                                <i class="fl icon-user3 ico24"></i>
                                                                <i class="fl fltCirc bordBlac icon-tick-mark ico8 pad1 marginLN5"></i>
                                                            </span>
                                                            <span class="fl padLR20 ico14 padT5">{{psssenger.label}}</span>
                                                        </div><div class="padL30 fl width100">
                                                            <div class="col-md-12 col-sm-12 col-xs-12 padL0">
                                                               
                                                                <div class="col-md-10 col-sm-9 col-xs-12 pad0">
                                                                    <div class="fl padR10 marginB10">
                                                                        <select ng-model="psssenger.Title" data-traveller="0" data-index="1" data-field="title" data-fieldname="Title" data-name="Adult" name="Adultchoose1" id="Adulttitle1" class="form-control inputMedium">
                                                                            <option value="">Title</option>
                                                                            <option ng-show="psssenger.PassengerType == 'A'" value="Mr">Mr</option>
                                                                            <option value="Ms">Ms</option>
                                                                            <option ng-show="psssenger.PassengerType == 'A'" value="Mrs">Mrs</option>
                                                                            <option value="Mrs">Mstr</option>
                                                                        </select>
                                                                    </div><div class="col-md-3 col-sm-3 col-xs-12  pad0 marginB10">
                                                                        <input ng-model="psssenger.FirstName" type="text" class="form-control inputMedium padLR5 placeholder" placeholder="First Name/Given Name" value="">
                                                                    </div>
                                                                    <div class="col-md-3 col-sm-3 col-xs-12 pad0 marginB10">
                                                                        <input ng-model="psssenger.LastName" type="text" class="form-control inputMedium padLR5 placeholder" placeholder="Last Name" value="">
                                                                    </div>
                                                                    <div class="col-md-3 col-sm-3 col-xs-12 pad0 marginB10">
                                                                    <input  ng-model="psssenger.DateOfBirth" type="text" class="form-control inputMedium padLR5 placeholder" placeholder="Date of birth" value="">
                                                                    </div>
                                                                   <div class="col-md-1 col-sm-1 mobdn marginB10">
                                                                        <div class="fmtTooltip padB10">
                                                                            <i class="icon-question greyLter ico14"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12 col-xs-12 pad0"><div></div></div>
                                                        </div>
                                                    </div><div class="col-md-12 col-sm-12 col-xs-12" id="cont_email">
                                                        <div class="col-md-2 col-sm-3 col-xs-12 padT10 marginB5 stepLabel"><label class="ico14 grey">Email Address</label></div>
                                                        <div class="col-md-10 col-sm-9 col-xs-12 pad0">
                                                            <div class="col-md-6 col-sm-7 col-xs-12 marginB10 posRel"><input type="email" data-field="email" data-fieldname="Email" data-name="" id="email" name="email" class="form-control inputMedium iconImg" value=""><i class="icon-email iconEmailPos ico24 greyLt"></i></div><div class="col-md-6 col-sm-5 col-xs-12 mobdn padT10">
                                                                <span class="ico12 greyLt">Your ticket will be sent to this email address</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12" id="cont_mobile">
                                                        <div class="col-md-2 col-sm-3 col-xs-12 padT10 marginB5 stepLabel"><label class="ico14 grey">Mobile Number</label></div>
                                                        <div class="col-md-10 col-sm-9 col-xs-12 pad0">
                                                            <div class="col-md-6 col-sm-7 col-xs-12 marginB10">
                                                                <div class="col-md-3 col-sm-3 col-xs-3 pad0 posRel">
                                                                    <div class="form-control posAbs inputMedium"><span class="fl">+91</span><i class="icon-arrow-down txtgrey ico13 lh1-2 padT5 fr"></i></div>
                                                                    <select id="mobilecode" data-field="mobilecode" data-name="mobilecode" data-fieldname="Mobile Code" name="mobilecode" class="form-control inputMedium" style="opacity: 0;">
                                                                        <option value="+91" selected="">+91</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-9 col-sm-9 col-xs-9 pad0">
                                                                    <input type="text" data-field="mobile" data-fieldname="Mobile Number" data-name="" id="mobile" name="mobile" class="form-control inputMedium" maxlength="10" value="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><div id="validationError"></div>
                                                </div>
                                            </div><div class="fl width100 borderTop padLR15 padTB10">
                                                <button class="button orange col-md-3 fr large dF justifyCenter min37"><div><!-- react-text: 601 -->Proceed <!-- /react-text --><!-- react-text: 602 --><!-- /react-text --><!-- react-text: 603 --> <!-- /react-text --></div></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @if (ViewBag.TripMode == "1")
                    {
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="borderAll posRel whiteBg crdShdw brRadius5 fl width100 padB10 bkFxdRt marginTB10">
                                            <div class="fl width100 padTB10 smlrBrdrDsh">
                                                <div class="ico18 padLR10"><span class="fb quicks ">Fare Summary</span> {{ReturnTripType}}</div>
                                                <div class="ico12 padLR10 padT5" ng-cloak>
                                                    <span style="font-weight:bold">Travelers </span>
                                                    <span class="grey" ng-show="adult">{{adult}} {{adult > 1 ? 'Adults' : 'Adult'}}</span>
                                                    <span class="grey" ng-show="child">&nbsp;|&nbsp;{{child}} {{child > 1 ? 'Childs' : 'Child'}}</span>
                                                    <span class="grey" ng-show="infant">&nbsp;|&nbsp;{{infant}} {{infant > 1 ? 'Infants' : 'Infant'}}</span>
                                                </div>
                                            </div>
                                            <div class="fl width100 smlrBrdrDsh padT15 padL5 padR10">
                                                <div class="fl padB15 width100 smlrBrdrDsh">
                                                    <div class="col-md-8">
                                                        <span class="db ico14">Base Fare</span>
                                                    </div><div class="fr ">
                                                        <i class="icon-rupee ico14 padT2 fl"></i>
                                                        <span class="fl ico18"><span>{{fareDetails[0].TotalAmount}}</span></span><span class="fl fmtTooltip">
                                                            <i class="icon-question op0-7 ico14 fl padT2 padL5 blueLt"></i>

                                                            <div class="tip white tip_right txtLeft" id="farebreakupTooltip_Base Fare">
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="fl padB15 width100">
                                                    <div class="col-md-8"><span class="db ico14">Fee &amp; Surcharge</span></div><div class="fr ">
                                                        <i class="icon-rupee ico14 padT2 fl"></i><span class="fl ico18"><span>1,664</span></span><span class="fl fmtTooltip">
                                                            <i class="icon-question op0-7 ico14 fl padT2 padL5 blueLt"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="fl padB15 width100">
                                                    <div class="col-md-8">
                                                        <span class="db ico14">Add Ons </span>
                                                        <span class="db ico12 grey padT3 lh1-2"><!-- react-text: 929 -->Charity<!-- /react-text --></span>
                                                    </div>
                                                    <div class="fr">
                                                        <i class="icon-rupee ico14 padT2 fl"></i><span>
                                                            <span class="fl ico18"><span>5</span></span>
                                                            <span class="fl fmtTooltip">
                                                                <i class="icon-question op0-7 ico14 fl padT2 padL5 blueLt"></i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blueBgLt fl padTB10 width100 ">
                                                <span class="fl  ico18">
                                                    <span class="db padB5 padL10">Total </span>

                                                </span>
                                                <span class="fr padR10">
                                                    <span class="fr">
                                                        <span class="fr ico20 ">
                                                            <i class="icon-pee icoru15"></i>
                                                            <span>9,687</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (ViewBag.TripMode == "2")
                    {
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="borderAll posRel whiteBg crdShdw brRadius5 fl width100 padB10 bkFxdRt marginTB10">
                                            <div class="fl width100 padTB10 smlrBrdrDsh">
                                                <div class="ico18 padLR10"><span class="fb quicks ">Fare Summary</span></div>
                                                <div class="ico12 padLR10 padT5 "><span>Travelers </span>
                                                @if (true)
                                                {
                                                    <span class="grey">1 Adult</span>
                                                }
                                                </div>
                                            </div>
                                            <div class="fl width100 smlrBrdrDsh padT15 padL5 padR10">
                                                <div class="fl padB15 width100 smlrBrdrDsh">
                                                    <div class="col-md-8">
                                                        <span class="db ico14">Base Fare</span>
                                                    </div><div class="fr ">
                                                        <i class="icon-rupee ico14 padT2 fl"></i>
                                                        <span class="fl ico18"><span>8,018</span></span><span class="fl fmtTooltip">
                                                            <i class="icon-question op0-7 ico14 fl padT2 padL5 blueLt"></i>

                                                            <div class="tip white tip_right txtLeft" id="farebreakupTooltip_Base Fare">
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="fl padB15 width100">
                                                    <div class="col-md-8"><span class="db ico14">Fee &amp; Surcharge</span></div><div class="fr ">
                                                        <i class="icon-rupee ico14 padT2 fl"></i><span class="fl ico18"><span>1,664</span></span><span class="fl fmtTooltip">
                                                            <i class="icon-question op0-7 ico14 fl padT2 padL5 blueLt"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="fl padB15 width100">
                                                    <div class="col-md-8">
                                                        <span class="db ico14">Add Ons </span>
                                                        <span class="db ico12 grey padT3 lh1-2"><!-- react-text: 929 -->Charity<!-- /react-text --></span>
                                                    </div>
                                                    <div class="fr">
                                                        <i class="icon-rupee ico14 padT2 fl"></i><span>
                                                            <span class="fl ico18"><span>5</span></span>
                                                            <span class="fl fmtTooltip">
                                                                <i class="icon-question op0-7 ico14 fl padT2 padL5 blueLt"></i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blueBgLt fl padTB10 width100 ">
                                                <span class="fl  ico18">
                                                    <span class="db padB5 padL10">Total </span>

                                                </span>
                                                <span class="fr padR10">
                                                    <span class="fr">
                                                        <span class="fr ico20 ">
                                                            <i class="icon-pee icoru15"></i>
                                                            <span>9,687</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
