
@{
    ViewBag.Title = "Flight Search List";
    Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
}

<style>
    .fb {
        font-weight: bold;
        font-style: normal;
    }

    .brdrRd5 {
        border-radius: 5px;
    }

    .fltHpySrt li {
        width: 25%;
        list-style: none;
    }

    .curPointFlt {
        cursor: pointer;
    }

    .dF {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
    }

    .clr {
        clear: both;
    }

    .fltHpyRsltCard {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    }

    .flexCol {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .fl {
        float: left;
    }

    .alignItemsCenter {
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .flightImagesNew {
        max-height: 30px;
    }

    .flightImagesNew {
        max-width: 100%;
        max-height: 30px;
        padding-right: 10px;
    }

    .padT10 {
        padding-top: 10px;
    }

    .alignItemsEnd {
        -webkit-align-items: flex-end;
        -ms-align-items: flex-end;
        align-items: flex-end;
    }

    .fGS0 {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .db {
        display: block;
    }

    .textOverflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ico12 {
        font-size: 12px;
    }

    .ico11 {
        font-size: 11px;
    }

    .quicks {
        font-family: "QuickSand",Helvetica,Arial,sans-serif;
    }

    .padT5 {
        padding-top: 5px;
    }

    .ico18 {
        font-size: 18px;
    }

    .fGS0 {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .ico15 {
        font-size: 15px;
    }

    .justifyBetween {
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }

    .alignItemsCenter {
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .ico20 {
        font-size: 20px;
    }

    .button.fltbook {
        border-radius: 5px;
        padding: 7px 0;
        background-color: #f37638;
        border: solid 1px #f37638;
    }

    .fr {
        float: right;
    }

    .widthF105 {
        width: 80px;
    }

    .padB20 {
        padding-bottom: 20px;
    }

    .justifyEnd {
        -webkit-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
    }

    .marginT10 {
        margin-top: 10px;
    }

    .ico12 {
        font-size: 12px;
    }

    .ico11 {
        font-size: 11px;
    }

    .nav-tabs {
        border-bottom: 1px solid #8601af !important;
    }


</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script src="~/HelperJS/AngularjsLinks/bootstrap.bundle.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/perfect-scrollbar.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/script.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/sidebar.large.script.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/nuslider.min.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/app.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/FlightServices.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/SingleFlightSearch.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {
       
        
    });
</script>

<div class="display-animation" ng-app="AirportAutocompleteoduleApp" ng-controller="SingleFlightSearchApiCall" ng-init="LoadFlightSearch('@ViewBag.Tripmode','@ViewBag.FromCityCode','@ViewBag.TOAirportCode','@ViewBag.FromDate','@ViewBag.ToDate','@ViewBag.TravelType','@ViewBag.Adult','@ViewBag.Child','@ViewBag.Infant')" id="AirportAutocompleteController">
    <div class="content" style="margin-top:20px;">
        <div class="display-animation">
            <div class="full-content margin-bottom-40 bg-white" id="Bill_page">
                <div class="row example-row" style="min-height:350px;">
                    <div class="card" style="width:100%;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 material-animate padding-right-40">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="form-group">
                                                <label>Price range:</label>
                                                <button class="btn btn-xs btn-default pull-right" style="padding:0px;font-size:xx-small;font-weight:bold" ng-click="lower_price_bound = min; upper_price_bound = max;">Reset</button>
                                                <div class="clearfix"></div>

                                                <span class="badge badge-dark pull-left">{{lower_price_bound}}</span>
                                                <span class="badge badge-dark pull-right">{{upper_price_bound}}</span>
                                                <div class="clearfix"></div>
                                                <slider floor="{{min}}" ceiling="{{max}}" ng-model-low="lower_price_bound" ng-model-high="upper_price_bound"></slider>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <label>Time slots for the flight:</label>
                                            <button class="btn btn-xs btn-default pull-right" style="padding:0px;font-size:xx-small;font-weight:bold" ng-click="
                                                    filterData.timeSlots.EarlyMorning = false;
                                                    filterData.timeSlots.Morning = false;
                                                    filterData.timeSlots.MidDay = false;
                                                    filterData.timeSlots.Evening = false;
                                                    filterData.timeSlots.Night = false;
                                                    ">Reset</button>
                                            <div class="clearfix"></div>
                                            <div class="checkboxer">
                                                <input type="checkbox" ng-model="filterData.timeSlots.EarlyMorning">
                                                <label for="check1"> Early Morning <small>12am - 8am</small></label>
                                            </div>
                                            <!--.checkbox-->

                                            <div class="checkboxer">
                                                <input type="checkbox" ng-model="filterData.timeSlots.Morning">
                                                <label for="check2"> Morning <small>8am - 12pm</small></label>
                                            </div>
                                            <!--.checkbox-->

                                            <div class="checkboxer">
                                                <input type="checkbox" ng-model="filterData.timeSlots.MidDay">
                                                <label for="check3">Mid-Day <small>12pm - 4pm</small></label>
                                            </div>
                                            <!--.checkbox-->

                                            <div class="checkboxer">
                                                <input type="checkbox" ng-model="filterData.timeSlots.Evening">
                                                <label for="check4">Evening <small>4pm - 8pm</small></label>
                                            </div>
                                            <!--.checkbox-->

                                            <div class="checkboxer">
                                                <input type="checkbox" ng-model="filterData.timeSlots.Night">
                                                <label for="check5">Night <small>8pm - 12am</small></label>
                                            </div>
                                            <!--.checkbox-->

                                        </li>
                                        <li class="list-group-item">
                                            Stops for that flight
                                            <button class="btn btn-xs btn-default pull-right" style="padding:0px;font-size:xx-small;font-weight:bold" ng-click="filterData.stops = null">Reset</button>
                                            <div class="clearfix"></div>

                                            <label style="padding-right:30px">
                                                <input type="radio" ng-model="filterData.stops" value="1">
                                                1
                                            </label>
                                            <label style="padding-right:30px">
                                                <input type="radio" ng-model="filterData.stops" value="2">
                                                2
                                            </label>
                                            <label style="padding-right:30px">
                                                <input type="radio" ng-model="filterData.stops" value="3">
                                                3
                                            </label>
                                            <div class="clearfix"></div>
                                            <hr />
                                            <label>
                                                <input type="radio" ng-model="filterData.stops" value="0">
                                                Show Direct Flights Only
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            Refundable:
                                            <button class="btn btn-xs btn-default pull-right" style="padding:0px;font-size:xx-small;font-weight:bold" ng-click="filterData.refundable = null">Reset</button>
                                            <div class="clearfix"></div>
                                            <label style="padding:10px">
                                                <input type="radio" ng-model="filterData.refundable" value="true">
                                                Yes
                                            </label>
                                            <label style="padding:10px">
                                                <input type="radio" ng-model="filterData.refundable" value="false">
                                                No
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            Airlines:
                                            <button class="btn btn-xs btn-default pull-right" style="padding:0px;font-size:xx-small;font-weight:bold" ng-click="filterData.airlines = [];resetFilterAirlinesList()">Reset</button>
                                            <div class="clearfix"></div>
                                            <div class="checkboxer" ng-repeat="item in airlinesList">
                                                <input type="checkbox" ng-model="item.selected" >
                                                <label for="check6"> {{item.name}} <img ng-hide="item.code == ''" ng-src="~/Content/static-airlines-master/logos/{{item.code}}.png" class="flightImagesNew" alt="flights"></label>
                                            </div>
                                            <!--.checkbox-->

                                        </li>
                                        <li class="list-group-item" style="display:none">
                                            <div class="form-group">
                                                <label>Promo Code </label>
                                                <input class="form-control" type="text" placeholder="promo">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--.col-->

                                <div class="col-md-9 material-animate" infinite-scroll="loadMore()">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="quicks">
                                            <ul class="fltHpySrt ico12 dF justifyAround whiteBg pad10 brdrRd5" style="background-color:#ccc; padding:5px;">
                                                <li id="DEPARTURE" class="curPointFlt"><span class="dF alignItemsCenter justifyCenter"><span class="fb ico11 "></span></span></li>
                                                <li id="DEPARTURE" class="curPointFlt"><span class="dF alignItemsCenter justifyCenter"><span class="fb ico11 ">DEPARTURE</span></span></li>
                                                <li id="DURATION" class="curPointFlt"><span class="dF alignItemsCenter justifyCenter"><span class="fb ico11 ">DURATION</span></span></li>
                                                <li id="ARRIVAL" class="curPointFlt"><span class="dF alignItemsCenter justifyCenter"><span class="fb ico11 ">ARRIVAL</span></span></li>
                                                <li id="PRICE" class="curPointFlt"><span class="dF alignItemsCenter justifyCenter"><span class="fb ico11  hpyBlueLt ">PRICE</span><i class="ico13 icon-arrow2-up hpyBlueLt "></i></span></li>
                                            </ul>
                                        </div>
                                        <div class="clr marginT10" data-cy="flightItem_CCUDEL20200624ESG:SG130:0" ng-repeat="itemval in flightsearchResult | filter: filterFlightData | limitTo:numberToDisplay" ng-cloak>
                                            <div class="flexCol whiteBg brdrRd5 fltHpyRsltCard brdrRd5 marginT10">
                                                <div class="fl width100 flexCol">
                                                    <div class="fl width100 dF padLR20 padT10">
                                                        <div class="col-md-8 col-sm-8 col-xs-8 padLR0" style="padding:0">
                                                            <div class="flexCol width100 padT5 ">
                                                                <div class="col-md-12  col-sm-12 col-xs-12 padLR0" style="padding:0">
                                                                    <div class="width100 dF alignItemsEnd">
                                                                        <div class="col-md-3 col-sm-3 col-xs-3 fGS0 width11" style="padding:0">
                                                                            <img ng-src="~/Content/static-airlines-master/logos/{{itemval[0].AirlineCode}}.png" />
                                                                            <span class="ico13 padR10 padL5" data-cy="Spicejet">{{itemval[0].AirlineCode}}-{{itemval[0].FlightNo}}</span><span style="display:none;">{{itemval[0].TrackNo}}</span>

                                                                        </div>

                                                                        <div class="col-md-3 col-sm-3 col-xs-3 padL0 fGS0">
                                                                            <span class="db flexCol">
                                                                                <span class="db textOverflow">
                                                                                    <span class="ico12">{{itemval[0].FromAirportCode}}</span>
                                                                                    <span class="ico11 greyLt padL5" title="Kolkata, India">{{itemval[0].DepDate}}</span>
                                                                                </span>
                                                                                <span class="fb dF alignItemsCenter ico18 padT5 quicks" data-cy="depTime"> {{itemval[0].DepTime}}</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-3 padL0 col-xs-3 fGS0" data-cy="stopsLength0">
                                                                            {{itemval[0].Stops === "0" ? 0 : itemval[itemval[0].Stops].Stops}}&nbsp;Stops ({{itemval[0].Stops === "0" ? "0" : itemval[itemval[0].Stops].FromAirportCode}})<div class="ico15 fb txtCenter quicks padT5" data-cy="duration">
                                                                                {{timeConvert(itemval[0].Stops === "0" ? parseNumber(itemval[0].FlightTime) : (parseNumber(itemval[0].FlightTime)+parseNumber(itemval[0].HoldDuration)+parseNumber(itemval[itemval[0].Stops].HoldDuration)))}}
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-3 col-sm-3 col-xs-3 fGS0 width29">
                                                                            <span class="db flexCol">
                                                                                <span class="db textOverflow">
                                                                                    <span class="ico12">{{itemval[itemval.length - 1].ToAirportCode}}</span>
                                                                                    <span class="greyLt ico11 padL5" title="Delhi, India">{{itemval[itemval.length - 1].ArrDate}}</span>
                                                                                </span>
                                                                                <span class="fb dF alignItemsCenter ico18 padT5 quicks"><span data-cy="arrTime">{{itemval[itemval.length - 1].ArrTime}}</span></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-xs-4 col-sm-4 padLR0 justifyEnd dF ">
                                                            <div class="col-md-7 padL0 padR10 justifyBetween flexCol ">
                                                                <div class="alignItemsEnd flexCol vh">
                                                                </div>
                                                                <span class="alignItemsEnd flexCol">
                                                                    <span class="alignItemsCenter dF padT2">
                                                                        <i class="icon-rupee ico12 fb"></i>
                                                                        <span class="ico20 fb quicks" data-cy="finalPrice">{{itemval[0].TotalAmount}}/-</span>
                                                                        <span class="ico20 fb quicks" data-cy="finalPrice" style="display:none">{{itemval[0].TrackNo}}</span>
                                                                    </span>
                                                                    <span class="padT5 padB10 ">
                                                                        <small class="dF alignItemsCenter quicks">
                                                                            <span class="padR2 ico12">Tax Amount &nbsp;</span>
                                                                            <i class="icon-rupee ico9"></i><span class="ico12 fb"> {{itemval[0].TaxAmount}}/-</span>
                                                                        </small>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <span class="dF flexCol justifyEnd padLR0 col-md-5 alignItemsEnd padB20">
                                                                <span class="db clearfix">
                                                                    <input type="button" data-cy="bookBtn" value="BOOK" class="button fr fltbook fb widthF105 fb quicks" ng-click="getFlightDetails(AdultCount,ChildCount,InfantCount,itemval[0].TrackNo,TripMode)">
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="accordion" id="accordionRightIcon">
                                                        <div class="">
                                                            <div class="header-elements-inline">
                                                                <div class="card-title ul-collapse__icon--size ul-collapse__right-icon mb-0" style="text-align:right;"><a class="text-default collapsed" data-toggle="collapse" href="#accordion-item-icons-1{{$index + 1}}" aria-expanded="false" style="font-size:12px; padding-right:20px;">Flight Details  ></a></div>
                                                            </div>
                                                            <div class="collapse" id="accordion-item-icons-1{{$index + 1}}" data-parent="#accordionRightIcon">
                                                                <div>
                                                                    <div class="card-body">
                                                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                                            <li class="nav-item"><a class="nav-link active show" id="home-basic-tab" data-toggle="tab" href="#homeBasic_2{{$index + 1}}" role="tab" aria-controls="homeBasic" aria-selected="true">Flight Information</a></li>
                                                                            <li ng-click="loadFareDetails(itemval[0].SrNo,AdultCount,ChildCount,InfantCount)" class="nav-item"><a class="nav-link" id="profile-basic-tab" data-toggle="tab" href="#profileBasic_3{{$index + 1}}" role="tab" aria-controls="profileBasic" aria-selected="false"> Fare Details</a></li>
                                                                            <li class="nav-item"><a class="nav-link" id="contact-basic-tab" data-toggle="tab" href="#contactBasic_4{{$index + 1}}" role="tab" aria-controls="contactBasic" aria-selected="false"> Baggage Rules</a></li>
                                                                        </ul>
                                                                        <div class="tab-content" id="myTabContent">
                                                                            <div class="tab-pane fade active show" id="homeBasic_2{{$index + 1}}" role="tabpanel" aria-labelledby="home-basic-tab">
                                                                                <div class="flexCol whiteBg brdrRd5 brdrRd5 marginT10">
                                                                                    <div class="fl width100 flexCol">
                                                                                        <div class="fl width100 fltHpyRsltCard dF padLR20 padT10" ng-repeat="Oneway in itemval">
                                                                                            <div class="col-md-8 col-sm-8 col-xs-8 padLR0">
                                                                                                <div class="flexCol width100 padT5 ">
                                                                                                    <div class="dF width100 alignItemsCenter">

                                                                                                    </div>
                                                                                                    <div class="col-md-12 col-sm-12 col-xs-12 padLR0 padT10">
                                                                                                        <div class="col-md-12  col-sm-12 col-xs-12 padLR0">
                                                                                                            <div class="width100 dF alignItemsEnd">
                                                                                                                <div class="col-md-3 col-sm-3 col-xs-3 fGS0 width11">
                                                                                                                    <img ng-src="~/Content/static-airlines-master/logos/{{Oneway.AirlineCode}}.png" />

                                                                                                                    <span class="ico13 padR10 padL5" data-cy="Spicejet">{{Oneway.AirlineCode}}-{{Oneway.FlightNo}}</span>

                                                                                                                </div>
                                                                                                                <div class="col-md-3 col-sm-3 col-xs-3 padL0 fGS0">
                                                                                                                    <span class="db flexCol">
                                                                                                                        <span class="db textOverflow">
                                                                                                                            <span class="ico12">{{Oneway.FromAirportCode}}</span>
                                                                                                                            <span class="ico11 greyLt padL5" title="Kolkata, India">, India</span>
                                                                                                                        </span>
                                                                                                                        <span class="fb dF alignItemsCenter ico18 padT5 quicks" data-cy="depTime">{{Oneway.DepTime}}</span>
                                                                                                                    </span>
                                                                                                                </div>

                                                                                                                <div class="col-md-3 col-sm-3 padL0 col-xs-3 fGS0" data-cy="stopsLength0">
                                                                                                                    <div class="ico15 fb txtCenter quicks padT5" data-cy="duration">
                                                                                                                        {{timeConvert(Oneway.FlightTime)}}
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                                <div class="col-md-3 col-sm-3 col-xs-3 fGS0 width29">
                                                                                                                    <span class="db flexCol">
                                                                                                                        <span class="db textOverflow">
                                                                                                                            <span class="ico12">{{Oneway.ToAirportCode}}</span>
                                                                                                                            <span class="greyLt ico11 padL5" title="Delhi, India">, India</span>
                                                                                                                        </span>
                                                                                                                        <span class="fb dF alignItemsCenter ico18 padT5 quicks"><span data-cy="arrTime">{{Oneway.ArrTime}}</span></span>
                                                                                                                    </span>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="dF width100 greyLt ico11 padT5 padB10 vh"></div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-4 col-xs-4 col-sm-4 padLR0 justifyEnd dF ">
                                                                                                <div class="col-md-7 padL0 padR10 justifyBetween flexCol ">
                                                                                                    <div class="alignItemsEnd flexCol vh">
                                                                                                        <div class="alignItemsCenter dF hpyOffr fmtTooltip">
                                                                                                            <i class="icon-offer-badge yellow ico20 padR5"></i>
                                                                                                            <i class="icon-rupee ico8"></i>
                                                                                                            <span class="ico12 fb padR3"></span>
                                                                                                            <i class="icon-arrow-right ico8"></i>
                                                                                                            <div class="tip tip_btm white "><div class="fb black"></div></div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <span class="alignItemsEnd flexCol">
                                                                                                        <span class="strike alignItemsCenter greyLt dF padT5 ico12 vh">
                                                                                                            <i class="icon-rupee ico10"></i>
                                                                                                            <span class="ico14" data-cy=""></span>
                                                                                                        </span>
                                                                                                        <span class="alignItemsCenter dF padT2">
                                                                                                            <i class="icon-rupee ico12 fb"></i>
                                                                                                            <span class="ico20 fb quicks" data-cy="finalPrice">{{Oneway.TotalAmount}}/-</span>
                                                                                                        </span>
                                                                                                        <span class="padT5 padB10 ">
                                                                                                            <small class="dF alignItemsCenter quicks">
                                                                                                                <span class="padR2 ico12">Tax Amount&nbsp; </span>
                                                                                                                <i class="icon-rupee ico9"></i><span class="ico12 fb"> {{Oneway.TaxAmount}}/-</span>
                                                                                                            </small>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </div>
                                                                                                <span class="dF flexCol justifyEnd padLR0 col-md-5 alignItemsEnd padB20">
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="tab-pane fade" id="profileBasic_3{{$index + 1}}" role="tabpanel" aria-labelledby="profile-basic-tab">
                                                                                <table class="table table-bordered">
                                                                                    <tr>
                                                                                        <td>Base Fare (<span>{{AdultCount}} {{AdultCount > 1 ? 'Adults' : 'Adult'}}</span> <span ng-show="ChildCount > 0">, {{ChildCount}} {{ChildCount > 1 ? 'Childs' : 'Child'}}</span><span ng-show="InfantCount > 0">, {{InfantCount}} {{InfantCount > 1 ? 'Infants' : 'Infant'}}</span>)</td>
                                                                                        <td>{{FlightTotalBasefare}}/-</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Taxes and Fees (<span>{{AdultCount}} {{AdultCount > 1 ? 'Adults' : 'Adult'}}</span> <span ng-show="ChildCount > 0">, {{ChildCount}} {{ChildCount > 1 ? 'Childs' : 'Child'}}</span><span ng-show="InfantCount > 0">, {{InfantCount}} {{InfantCount > 1 ? 'Infants' : 'Infant'}}</span>)</td>
                                                                                        <td>{{FlightTotalTaxfare}}/-</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Cute Fees (<span>{{AdultCount}} {{AdultCount > 1 ? 'Adults' : 'Adult'}}</span> <span ng-show="ChildCount > 0">, {{ChildCount}} {{ChildCount > 1 ? 'Childs' : 'Child'}}</span><span ng-show="InfantCount > 0">, {{InfantCount}} {{InfantCount > 1 ? 'Infants' : 'Infant'}}</span>)</td>
                                                                                        <td>{{FlightTotalCutefare}}/-</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Total Fare (<span>{{AdultCount}} {{AdultCount > 1 ? 'Adults' : 'Adult'}}</span> <span ng-show="ChildCount > 0">, {{ChildCount}} {{ChildCount > 1 ? 'Childs' : 'Child'}}</span><span ng-show="InfantCount > 0">, {{InfantCount}} {{InfantCount > 1 ? 'Infants' : 'Infant'}}</span>)</td>
                                                                                        <td><b>{{FlightTotalFare}}/- </b></td>
                                                                                    </tr>
                                                                                </table>

                                                                            </div>
                                                                            <div class="tab-pane fade" id="contactBasic_4{{$index + 1}}" role="tabpanel" aria-labelledby="contact-basic-tab">
                                                                                <table class="table table-bordered">
                                                                                    <tr>
                                                                                        <td>Baggage Allowance</td>
                                                                                        <td>{{BaggageAllowance}}</td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--.col-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
