
@{
    ViewBag.Title = "Flight Search List";
    Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
}

<style>
    .fb {
        font-weight: bold;
        font-style: normal;
    }

    .brdrRd5 {
        border-radius: 5px;
    }

    .fltHpySrt li {
        width: 25%;
        list-style: none;
    }

    .curPointFlt {
        cursor: pointer;
    }

    .dF {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
    }

    .clr {
        clear: both;
    }

    .fltHpyRsltCard {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    }

    .flexCol {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .fl {
        float: left;
    }

    .alignItemsCenter {
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .flightImagesNew {
        max-height: 30px;
    }

    .flightImagesNew {
        max-width: 100%;
        max-height: 30px;
        padding-right: 10px;
    }

    .padT10 {
        padding-top: 10px;
    }

    .alignItemsEnd {
        -webkit-align-items: flex-end;
        -ms-align-items: flex-end;
        align-items: flex-end;
    }

    .fGS0 {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .db {
        display: block;
    }

    .textOverflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .ico12 {
        font-size: 12px;
    }

    .ico11 {
        font-size: 11px;
    }

    .quicks {
        font-family: "QuickSand",Helvetica,Arial,sans-serif;
    }

    .padT5 {
        padding-top: 5px;
    }

    .ico18 {
        font-size: 18px;
    }

    .fGS0 {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .ico15 {
        font-size: 15px;
    }

    .justifyBetween {
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }

    .alignItemsCenter {
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }

    .ico20 {
        font-size: 20px;
    }

    .button.fltbook {
        border-radius: 5px;
        padding: 7px 0;
        background-color: #f37638;
        border: solid 1px #f37638;
    }

    .fr {
        float: right;
    }

    .widthF105 {
        width: 80px;
    }

    .padB20 {
        padding-bottom: 20px;
    }

    .justifyEnd {
        -webkit-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
    }

    .marginT10 {
        margin-top: 10px;
    }

    .ico12 {
        font-size: 12px;
    }

    .ico11 {
        font-size: 11px;
    }

    .nav-tabs {
        border-bottom: 1px solid #8601af !important;
    }



    .padB5 {
        padding-bottom: 5px;
    }

    .fl {
        float: left;
    }
    .width100 {
        width: 100%;
    }
    .padR10 {
        padding-right: 10px;
    }
    .custRadWht [type="radio"]:checked + label, .custRadWht [type="radio"]:not(:checked) + label {
        padding-left: 20px;
    }
    .custRad [type="radio"]:checked + label, .custRad [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
    }
    .lh1 {
        line-height: 1;
    }
    .alignItemsCenter {
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
    }
    .dF {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
    }
    /*.custRadWht [type="radio"]:not(:checked) + label:before, .custRadWht [type="radio"]:checked + label:before {
        border-color: white;
        width: 16px;
        height: 16px;
    }
   .custRad [type="radio"]:not(:checked) + label:before, .custRad [type="radio"]:checked + label:before {
        content: '';
        border: 2px solid #647a97;
        position: absolute;
        left: 0;
        top: -2px;
        width: 18px;
        height: 18px;
        border-radius: 100%;
    }*/
    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .fb {
        font-weight: bold;
        font-style: normal;
    }
    .custRad [type="radio"]:not(:checked) + label:after, .custCheck:not(:checked) ~ .checkmark i {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .2s ease;
    }
    .custRadWht [type="radio"]:checked + label:after, .custRadWht [type="radio"]:not(:checked) + label:after {
        background-color: #ffffff;
        top: 2px;
        left: 4px;
        width: 8px;
        height: 8px;
    }
    /*.custRad [type="radio"]:checked + label:after, .custRad [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #2276e3;
        position: absolute;
        top: 2px;
        left: 4px;
        border-radius: 100%;
        transition: all .2s ease;
    }*/
    .padT5 {
        padding-top: 5px;
    }
    .width20 {
        width: 20%;
    }
    .autoSuggestBox {
        position: relative;
    }
    .padR20 {
        padding-right: 20px;
    }
    .txtTransUpper {
        text-transform: uppercase;
    }
    .ico12 {
        font-size: 12px;
    }
    .op6 {
        opacity: .6;
    }
    .padR20 {
        padding-right: 20px;
    }
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .textOverflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .marginB10 {
        margin-bottom: 10px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .hpySrchDis, .hpySrchEnb {
        
        text-align: center;
        border-radius: 20px;
        background-color: #4c93e4;
        color: #2276e3;
        font-weight: bold;
        text-transform: uppercase;
        height: 36px;
        font-size: 18px;
    }
    .button {
        cursor: pointer;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        
        text-align: center;
        color: #fff;
        border: 0;
        font-size: 14px;
        -webkit-appearance: none;
    }



    .paxMobile {
        position: absolute;
        background: #fff;
        border: 1px solid #eaeaea;
        width: auto;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        box-shadow: 0 3px 3px 0 #ccc;
        z-index: 9;
        left: 50%;
        top: 95%;
        margin-left: -175px;
        width: 350px;
    }

        .paxMobile:before {
            border-color: rgba(234,234,234,0);
            border-bottom-color: #eaeaea;
            border-width: 11px;
            margin-left: -11px;
        }

        .paxMobile:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

    [class^="icon-"], [class*=" icon-"] {
        font-family: 'go_font_v38' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .roomRow {
        padding: 15px 0;
        float: left;
        width: 100%;
        border: none;
    }

    .widgetUserBlock {
        width: auto;
    }

    .ico36, .ico35, .ico34, .ico33, .ico32, .ico31, .ico30, .ico29, .ico28, .ico27, .ico26, .ico25, .ico24, .ico23, .ico22, .ico21, .ico20, .ico19, .ico18, .ico17, .ico15, .ico16, .ico14, .ico13, .ico12, .ico11, .ico10 {
        line-height: 1;
    }

    .ico14 {
        font-size: 14px;
    }

    .font13Lt {
        font-size: 13px;
        color: #999;
    }

    .padT3 {
        padding-top: 3px;
    }

    .number-spinner {
        float: left;
        width: 100%;
    }

    .minSpin {
        border-right-width: 0;
    }

    .minSpin, .plusSpin, .numbSpin {
        height: 25px;
    }

    .minSpin, .plusSpin {
        background-color: #ffffff;
        border: 1px solid #c2c2c2;
        outline: none;
        color: #4a4a4a;
        padding: 0 10px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        width: 30px;
    }

    .numbSpin {
        border: 1px solid #c2c2c2;
        border-left-width: 0;
        border-right-width: 0;
        outline: none;
        font-size: 15px;
        padding: 5px;
        text-align: center;
        width: 30px;
    }

    .plusSpin {
        border-left-width: 0;
    }

    .minSpin, .plusSpin {
        background-color: #ffffff;
        border: 1px solid #c2c2c2;
        outline: none;
        color: #4a4a4a;
        padding: 0 10px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        width: 30px;
    }

    .paxMobile:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    ol, ul {
        list-style: none;
    }

    .padB15 {
        padding-bottom: 15px;
    }

    .padLR15 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .width70 {
        width: 70%;
    }

    select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 5px 25px 5px 5px;
    }



</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script src="~/HelperJS/AngularjsLinks/bootstrap.bundle.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/perfect-scrollbar.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/script.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/sidebar.large.script.min.js"></script>
<script src="~/HelperJS/AngularjsLinks/nuslider.min.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/app.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/FlightServices.js"></script>
<script src="~/Areas/Merchant/MerchantHelperJS/FlightBooking/SingleFlightSearch.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {
       
        
    });
</script>

<div class="display-animation" ng-app="AirportAutocompleteoduleApp" ng-controller="SingleFlightSearchApiCall" ng-init="LoadFlightSearch('@ViewBag.Tripmode','@ViewBag.FromCityCode','@ViewBag.TOAirportCode','@ViewBag.FromDate','@ViewBag.ToDate','@ViewBag.TravelType','@ViewBag.Adult','@ViewBag.Child','@ViewBag.Infant')" id="AirportAutocompleteController">
    <div class="content">
        <div class="display-animation">
            <div class="full-content bg-white" id="Bill_page">
                <div class="row example-row" style="min-height:350px;">

                    <div class="card" style="width:100%; z-index: 2;">
                        <div class="card-body">
                            <div class="blueBg padTB15 fl width100 clr marginB20" id="searchWrapOuterBox">
                                <div class="fltHpyWrp">


                                    <div class="mobSearchToggle">
                                        <div class="fl width100 padB5">
                                            <span class="custRad custRadWht fl padR10">
                                                <input type="radio" id="gi_oneway_label_srp" name="radio" value="on" style="float:left;"><label for="gi_oneway_label_srp" class="dF alignItemsCenter lh1">
                                                    <span class="fb white">One-way</span>
                                                </label>
                                            </span><span class="custRad custRadWht fl">
                                                <input type="radio" id="gi_roundtrip_label_srp" name="radio" value="on" style="float:left;"><label for="gi_roundtrip_label_srp" class="dF alignItemsCenter lh1">
                                                    <span class="fb white">Round-trip</span>
                                                </label>
                                            </span>
                                        </div><div class="col-md-12 col-sm-12 col-xs-12 padLR0 hpySrpWdgt padT5">
                                            <div class="">
                                                <div class="width20 padR20 fl autoSuggestBox" id="source_st_srp">
                                                    <div class="white ico12 op6 padB5 txtTransUpper">From</div>
                                                    <div class="width100 fl autoSuggestBox autoSgstOuterWrap">
                                                        <div class="width100 fl autoSuggestBox autoSgstOuterWrap">
                                                            <input type="text" id="gi_source_st_srp" class="form-control fltIpF quicks wdgtEle" value="Kolkata" autocomplete="off" role="combobox" aria-autocomplete="list" aria-owns="react-autosuggest-1" aria-expanded="false">
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="javascript:void(0);" id="swap_srp" class="fl padT20 marginT5 padR20 swapWrap">
                                                    <i class="hypflt-dblArw ico18 fl txtCenter white"></i>
                                                </a>
                                                <div class="width20 fl padR20 autoSuggestBox" id="destination_st_srp">
                                                    <div class="white ico12 op6 padB5 txtTransUpper">To</div>
                                                    <div class="width100 fl autoSuggestBox autoSgstOuterWrap">
                                                        <div class="width100 fl autoSuggestBox autoSgstOuterWrap">
                                                            <input type="text" id="gi_destination_st_srp" class="form-control fltIpF quicks wdgtEle" value="Delhi" autocomplete="off" role="combobox" aria-autocomplete="list" aria-owns="react-autosuggest-1" aria-expanded="false">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="width12 fl calenderInnerBox padR20">
                                                <div class="white ico12 op6 padB5 txtTransUpper">Departure Date</div><div id="fromEle_srp" class="col-md-12 pad0">
                                                    <input type="text" class="form-control quicks wdgtEle" name="from" id="start-date_srp" data-date="true" value="Fri, 10 Jul" readonly="">
                                                </div>
                                            </div>
                                            <div class="width12 fl calenderInnerBox padR20">
                                                <div class="white ico12 op6 padB5 txtTransUpper">Return Date</div><div id="toEle_srp" class="col-md-12 pad0">
                                                    <input type="text" class="form-control quicks wdgtEle " name="to" id="end-date_srp" data-date="true" value="Wed, 22 Jul" readonly="">
                                                    <i class="hypflt-close dib ico17 white posAbs calClose curPointFlt"></i>
                                                </div>
                                            </div><div class="paxWrapper fl_shInputPaxBox col-lg-2 col-md-2  col-sm-2 col-xs-12 padL0 padR20" id="pax_link_common_srp">
                                                <div class="white ico12 op6 padB5 txtTransUpper">Passenger &amp; Class</div>
                                                <span href="javascript:void(0);" class="paxBoxWrap mobdn dF padT10 ico14 quicks">
                                                    <span id="pax_label_srp" class="textOverflow">1 Traveller(s), </span>
                                                    <span class="textOverflow">Economy</span>
                                                </span>
                                            </div><div class="col-lg-1 col-md-1 col-sm-3 col-xs-12 marginB10">
                                                <div class="white ico12 op6 padB5 txtTransUpper">&nbsp;</div>
                                                <button id="submitSearchButton_srp" class="button hpySrchEnb ipadButtonSpace width100 quicks" type="button">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="card" style="width:100%;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 material-animate padding-right-40">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="form-group">
                                                <label>Price range:</label>
                                                <button class="btn btn-xs btn-default pull-right" style="padding:5px;font-size:x-small;font-weight:bold" ng-click="lower_price_bound = min; upper_price_bound = max;">Reset</button>
                                                <div class="clearfix"></div>

                                                <span class="badge badge-dark pull-left" ng-cloak>{{lower_price_bound}}</span>
                                                <span class="badge badge-dark pull-right" ng-cloak>{{upper_price_bound}}</span>
                                                <div class="clearfix"></div>
                                                <slider floor="{{min}}" ceiling="{{max}}" ng-model-low="lower_price_bound" ng-model-high="upper_price_bound"></slider>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <label>Time slots for the flight:</label>
                                            <button class="btn btn-xs btn-default pull-right" style="padding:5px;font-size:x-small;font-weight:bold" ng-click="
                                                    filterData.timeSlots.EarlyMorning = false;
                                                    filterData.timeSlots.Morning = false;
                                                    filterData.timeSlots.MidDay = false;
                                                    filterData.timeSlots.Evening = false;
                                                    filterData.timeSlots.Night = false;
                                                    ">Reset</button>
                                            <div class="clearfix"></div>
                                            <div class="checkboxer">
                                                <input type="checkbox" ng-model="filterData.timeSlots.EarlyMorning">
                                                <label for="check1"> Early Morning <small>12am - 8am</small></label>
                                            </div>
                                            <!--.checkbox-->

                                            <div class="checkboxer">
                                                <input type="checkbox" ng-model="filterData.timeSlots.Morning">
                                                <label for="check2"> Morning <small>8am - 12pm</small></label>
                                            </div>
                                            <!--.checkbox-->

                                            <div class="checkboxer">
                                                <input type="checkbox" ng-model="filterData.timeSlots.MidDay">
                                                <label for="check3">Mid-Day <small>12pm - 4pm</small></label>
                                            </div>
                                            <!--.checkbox-->

                                            <div class="checkboxer">
                                                <input type="checkbox" ng-model="filterData.timeSlots.Evening">
                                                <label for="check4">Evening <small>4pm - 8pm</small></label>
                                            </div>
                                            <!--.checkbox-->

                                            <div class="checkboxer">
                                                <input type="checkbox" ng-model="filterData.timeSlots.Night">
                                                <label for="check5">Night <small>8pm - 12am</small></label>
                                            </div>
                                            <!--.checkbox-->

                                        </li>
                                        <li class="list-group-item">
                                            Stops for that flight
                                            <button class="btn btn-xs btn-default pull-right" style="padding:5px;font-size:x-small;font-weight:bold" ng-click="filterData.stops = null">Reset</button>
                                            <div class="clearfix"></div>

                                            <label style="padding-right:30px">
                                                <input type="radio" ng-model="filterData.stops" value="1">
                                                1
                                            </label>
                                            <label style="padding-right:30px">
                                                <input type="radio" ng-model="filterData.stops" value="2">
                                                2
                                            </label>
                                            <label style="padding-right:30px">
                                                <input type="radio" ng-model="filterData.stops" value="3">
                                                3
                                            </label>
                                            <div class="clearfix"></div>
                                            <hr />
                                            <label>
                                                <input type="radio" ng-model="filterData.stops" value="0">
                                                Show Direct Flights Only
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            Refundable:
                                            <button class="btn btn-xs btn-default pull-right" style="padding:5px;font-size:x-small;font-weight:bold" ng-click="filterData.refundable = null">Reset</button>
                                            <div class="clearfix"></div>
                                            <label style="padding:10px">
                                                <input type="radio" ng-model="filterData.refundable" value="true">
                                                Yes
                                            </label>
                                            <label style="padding:10px">
                                                <input type="radio" ng-model="filterData.refundable" value="false">
                                                No
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            Airlines:
                                            <button class="btn btn-xs btn-default pull-right" style="padding:5px;font-size:x-small;font-weight:bold" ng-click="filterData.airlines = [];resetFilterAirlinesList()">Reset</button>
                                            <div class="clearfix"></div>
                                            <div class="checkboxer" ng-repeat="item in airlinesList">
                                                <input type="checkbox" ng-model="item.selected" >
                                                <label for="check6"> {{item.name}} <img ng-hide="item.code == ''" ng-src="~/Content/static-airlines-master/logos/{{item.code}}.png" class="flightImagesNew" alt="flights"></label>
                                            </div>
                                            <!--.checkbox-->

                                        </li>
                                        <li class="list-group-item" style="display:none">
                                            <div class="form-group">
                                                <label>Promo Code </label>
                                                <input class="form-control" type="text" placeholder="promo">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--.col-->

                                <div class="col-md-9 material-animate" infinite-scroll="loadMore()">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="quicks">
                                            <ul class="fltHpySrt ico12 dF justifyAround whiteBg pad10 brdrRd5" style="background-color:#ccc; padding:5px;">
                                                <li id="DEPARTURE" class="curPointFlt"><span class="dF alignItemsCenter justifyCenter"><span class="fb ico11 "></span></span></li>
                                                <li id="DEPARTURE" class="curPointFlt"><span class="dF alignItemsCenter justifyCenter"><span class="fb ico11 ">DEPARTURE</span></span></li>
                                                <li id="DURATION" class="curPointFlt"><span class="dF alignItemsCenter justifyCenter"><span class="fb ico11 ">DURATION</span></span></li>
                                                <li id="ARRIVAL" class="curPointFlt"><span class="dF alignItemsCenter justifyCenter"><span class="fb ico11 ">ARRIVAL</span></span></li>
                                                <li id="PRICE" class="curPointFlt"><span class="dF alignItemsCenter justifyCenter"><span class="fb ico11  hpyBlueLt ">PRICE</span><i class="ico13 icon-arrow2-up hpyBlueLt "></i></span></li>
                                            </ul>
                                        </div>
                                        <div class="clr marginT10" data-cy="flightItem_CCUDEL20200624ESG:SG130:0" ng-repeat="itemval in flightsearchResult | filter: filterFlightData | limitTo:numberToDisplay" ng-cloak>
                                            <div class="flexCol whiteBg brdrRd5 fltHpyRsltCard brdrRd5 marginT10">
                                                <div class="fl width100 flexCol">
                                                    <div class="fl width100 dF padLR20 padT10">
                                                        <div class="col-md-8 col-sm-8 col-xs-8 padLR0" style="padding:0">
                                                            <div class="flexCol width100 padT5 ">
                                                                <div class="col-md-12  col-sm-12 col-xs-12 padLR0" style="padding:0">
                                                                    <div class="width100 dF alignItemsEnd">
                                                                        <div class="col-md-3 col-sm-3 col-xs-3 fGS0 width11" style="padding:0">
                                                                            <img ng-src="~/Content/static-airlines-master/logos/{{itemval[0].AirlineCode}}.png" />
                                                                            <span class="ico13 padR10 padL5" data-cy="Spicejet">{{itemval[0].AirlineCode}}-{{itemval[0].FlightNo}}</span><span style="display:none;">{{itemval[0].TrackNo}}</span>

                                                                        </div>

                                                                        <div class="col-md-3 col-sm-3 col-xs-3 padL0 fGS0">
                                                                            <span class="db flexCol">
                                                                                <span class="db textOverflow">
                                                                                    <span class="ico12">{{itemval[0].FromAirportCode}}</span>
                                                                                    <span class="ico11 greyLt padL5" title="Kolkata, India">{{itemval[0].DepDate}}</span>
                                                                                </span>
                                                                                <span class="fb dF alignItemsCenter ico18 padT5 quicks" data-cy="depTime"> {{itemval[0].DepTime}}</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-3 padL0 col-xs-3 fGS0" data-cy="stopsLength0">
                                                                            {{itemval[0].Stops === "0" ? 0 : itemval[itemval[0].Stops].Stops}}&nbsp;Stops ({{itemval[0].Stops === "0" ? "0" : itemval[itemval[0].Stops].FromAirportCode}})<div class="ico15 fb txtCenter quicks padT5" data-cy="duration">
                                                                            {{calculateDuration(itemval)}}
                                                                                @*{{calculateDuration(itemval)  timeConvert(itemval[0].Stops === "0" ? parseNumber(itemval[0].FlightTime) : (parseNumber(itemval[0].FlightTime)+parseNumber(itemval[0].HoldDuration)+parseNumber(itemval[itemval[0].Stops].HoldDuration)))}}*@
                                                                                                                                                                                                                                              @*{{timeConvert(itemval[0].Stops === "0" ? parseNumber(itemval[0].FlightTime) : (parseNumber(itemval[0].FlightTime)+parseNumber(itemval[0].HoldDuration)+parseNumber(itemval[itemval[0].Stops].HoldDuration)))}}*@
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-md-3 col-sm-3 col-xs-3 fGS0 width29">
                                                                            <span class="db flexCol">
                                                                                <span class="db textOverflow">
                                                                                    <span class="ico12">{{itemval[itemval.length - 1].ToAirportCode}}</span>
                                                                                    <span class="greyLt ico11 padL5" title="Delhi, India">{{itemval[itemval.length - 1].ArrDate}}</span>
                                                                                </span>
                                                                                <span class="fb dF alignItemsCenter ico18 padT5 quicks"><span data-cy="arrTime">{{itemval[itemval.length - 1].ArrTime}}</span></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-xs-4 col-sm-4 padLR0 justifyEnd dF ">
                                                            <div class="col-md-7 padL0 padR10 justifyBetween flexCol ">
                                                                <div class="alignItemsEnd flexCol vh">
                                                                </div>
                                                                <span class="alignItemsEnd flexCol">
                                                                    <span class="alignItemsCenter dF padT2">
                                                                        <i class="icon-rupee ico12 fb"></i>
                                                                        <span class="ico20 fb quicks" data-cy="finalPrice">{{itemval[0].TotalAmount}}/-</span>
                                                                        <span class="ico20 fb quicks" data-cy="finalPrice" style="display:none">{{itemval[0].TrackNo}}</span>
                                                                    </span>
                                                                    <span class="padT5 padB10 ">
                                                                        <small class="dF alignItemsCenter quicks">
                                                                            <span class="padR2 ico12">Tax Amount &nbsp;</span>
                                                                            <i class="icon-rupee ico9"></i><span class="ico12 fb"> {{itemval[0].TaxAmount}}/-</span>
                                                                        </small>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                            <span class="dF flexCol justifyEnd padLR0 col-md-5 alignItemsEnd padB20">
                                                                <span class="db clearfix">
                                                                    <input type="button" data-cy="bookBtn" value="BOOK" class="button fr fltbook fb widthF105 fb quicks" ng-click="getFlightDetails(AdultCount,ChildCount,InfantCount,itemval[0].TrackNo,TripMode)">
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="accordion" id="accordionRightIcon">
                                                        <div class="">
                                                            <div class="header-elements-inline">
                                                                <div class="card-title ul-collapse__icon--size ul-collapse__right-icon mb-0" style="text-align:right;"><a class="text-default collapsed" data-toggle="collapse" href="#accordion-item-icons-1{{$index + 1}}" aria-expanded="false" style="font-size:12px; padding-right:20px;">Flight Details  ></a></div>
                                                            </div>
                                                            <div class="collapse" id="accordion-item-icons-1{{$index + 1}}" data-parent="#accordionRightIcon">
                                                                <div>
                                                                    <div class="card-body">
                                                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                                            <li class="nav-item"><a class="nav-link active show" id="home-basic-tab" data-toggle="tab" href="#homeBasic_2{{$index + 1}}" role="tab" aria-controls="homeBasic" aria-selected="true">Flight Information</a></li>
                                                                            <li ng-click="loadFareDetails(itemval[0].SrNo,AdultCount,ChildCount,InfantCount)" class="nav-item"><a class="nav-link" id="profile-basic-tab" data-toggle="tab" href="#profileBasic_3{{$index + 1}}" role="tab" aria-controls="profileBasic" aria-selected="false"> Fare Details</a></li>
                                                                            <li class="nav-item"><a class="nav-link" id="contact-basic-tab" data-toggle="tab" href="#contactBasic_4{{$index + 1}}" role="tab" aria-controls="contactBasic" aria-selected="false"> Baggage Rules</a></li>
                                                                        </ul>
                                                                        <div class="tab-content" id="myTabContent">
                                                                            <div class="tab-pane fade active show" id="homeBasic_2{{$index + 1}}" role="tabpanel" aria-labelledby="home-basic-tab">
                                                                                <div class="flexCol whiteBg brdrRd5 brdrRd5 marginT10">
                                                                                    <div class="fl width100 flexCol">
                                                                                        <div class="fl width100 fltHpyRsltCard dF padLR20 padT10" ng-repeat="Oneway in itemval">
                                                                                            <div class="col-md-8 col-sm-8 col-xs-8 padLR0">
                                                                                                <div class="flexCol width100 padT5 ">
                                                                                                    <div class="dF width100 alignItemsCenter">

                                                                                                    </div>
                                                                                                    <div class="col-md-12 col-sm-12 col-xs-12 padLR0 padT10">
                                                                                                        <div class="col-md-12  col-sm-12 col-xs-12 padLR0">
                                                                                                            <div class="width100 dF alignItemsEnd">
                                                                                                                <div class="col-md-3 col-sm-3 col-xs-3 fGS0 width11">
                                                                                                                    <img ng-src="~/Content/static-airlines-master/logos/{{Oneway.AirlineCode}}.png" />

                                                                                                                    <span class="ico13 padR10 padL5" data-cy="Spicejet">{{Oneway.AirlineCode}}-{{Oneway.FlightNo}}</span>

                                                                                                                </div>
                                                                                                                <div class="col-md-3 col-sm-3 col-xs-3 padL0 fGS0">
                                                                                                                    <span class="db flexCol">
                                                                                                                        <span class="db textOverflow">
                                                                                                                            <span class="ico12">{{Oneway.FromAirportCode}}</span>
                                                                                                                            <span class="ico11 greyLt padL5" title="Kolkata, India">, India</span>
                                                                                                                        </span>
                                                                                                                        <span class="fb dF alignItemsCenter ico18 padT5 quicks" data-cy="depTime">{{Oneway.DepTime}}</span>
                                                                                                                    </span>
                                                                                                                </div>

                                                                                                                <div class="col-md-3 col-sm-3 padL0 col-xs-3 fGS0" data-cy="stopsLength0">
                                                                                                                    <div class="ico15 fb txtCenter quicks padT5" data-cy="duration">
                                                                                                                        {{timeConvert(Oneway.FlightTime)}}
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                                <div class="col-md-3 col-sm-3 col-xs-3 fGS0 width29">
                                                                                                                    <span class="db flexCol">
                                                                                                                        <span class="db textOverflow">
                                                                                                                            <span class="ico12">{{Oneway.ToAirportCode}}</span>
                                                                                                                            <span class="greyLt ico11 padL5" title="Delhi, India">, India</span>
                                                                                                                        </span>
                                                                                                                        <span class="fb dF alignItemsCenter ico18 padT5 quicks"><span data-cy="arrTime">{{Oneway.ArrTime}}</span></span>
                                                                                                                    </span>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="dF width100 greyLt ico11 padT5 padB10 vh"></div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-4 col-xs-4 col-sm-4 padLR0 justifyEnd dF ">
                                                                                                <div class="col-md-7 padL0 padR10 justifyBetween flexCol ">
                                                                                                    <div class="alignItemsEnd flexCol vh">
                                                                                                        <div class="alignItemsCenter dF hpyOffr fmtTooltip">
                                                                                                            <i class="icon-offer-badge yellow ico20 padR5"></i>
                                                                                                            <i class="icon-rupee ico8"></i>
                                                                                                            <span class="ico12 fb padR3"></span>
                                                                                                            <i class="icon-arrow-right ico8"></i>
                                                                                                            <div class="tip tip_btm white "><div class="fb black"></div></div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <span class="alignItemsEnd flexCol">
                                                                                                        <span class="strike alignItemsCenter greyLt dF padT5 ico12 vh">
                                                                                                            <i class="icon-rupee ico10"></i>
                                                                                                            <span class="ico14" data-cy=""></span>
                                                                                                        </span>
                                                                                                        <span class="alignItemsCenter dF padT2">
                                                                                                            <i class="icon-rupee ico12 fb"></i>
                                                                                                            <span class="ico20 fb quicks" data-cy="finalPrice">{{Oneway.TotalAmount}}/-</span>
                                                                                                        </span>
                                                                                                        <span class="padT5 padB10 ">
                                                                                                            <small class="dF alignItemsCenter quicks">
                                                                                                                <span class="padR2 ico12">Tax Amount&nbsp; </span>
                                                                                                                <i class="icon-rupee ico9"></i><span class="ico12 fb"> {{Oneway.TaxAmount}}/-</span>
                                                                                                            </small>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </div>
                                                                                                <span class="dF flexCol justifyEnd padLR0 col-md-5 alignItemsEnd padB20">
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="tab-pane fade" id="profileBasic_3{{$index + 1}}" role="tabpanel" aria-labelledby="profile-basic-tab">
                                                                                <table class="table table-bordered">
                                                                                    <tr>
                                                                                        <td>Base Fare (<span>{{AdultCount}} {{AdultCount > 1 ? 'Adults' : 'Adult'}}</span> <span ng-show="ChildCount > 0">, {{ChildCount}} {{ChildCount > 1 ? 'Childs' : 'Child'}}</span><span ng-show="InfantCount > 0">, {{InfantCount}} {{InfantCount > 1 ? 'Infants' : 'Infant'}}</span>)</td>
                                                                                        <td>{{FlightTotalBasefare}}/-</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Taxes and Fees (<span>{{AdultCount}} {{AdultCount > 1 ? 'Adults' : 'Adult'}}</span> <span ng-show="ChildCount > 0">, {{ChildCount}} {{ChildCount > 1 ? 'Childs' : 'Child'}}</span><span ng-show="InfantCount > 0">, {{InfantCount}} {{InfantCount > 1 ? 'Infants' : 'Infant'}}</span>)</td>
                                                                                        <td>{{FlightTotalTaxfare}}/-</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Cute Fees (<span>{{AdultCount}} {{AdultCount > 1 ? 'Adults' : 'Adult'}}</span> <span ng-show="ChildCount > 0">, {{ChildCount}} {{ChildCount > 1 ? 'Childs' : 'Child'}}</span><span ng-show="InfantCount > 0">, {{InfantCount}} {{InfantCount > 1 ? 'Infants' : 'Infant'}}</span>)</td>
                                                                                        <td>{{FlightTotalCutefare}}/-</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Total Fare (<span>{{AdultCount}} {{AdultCount > 1 ? 'Adults' : 'Adult'}}</span> <span ng-show="ChildCount > 0">, {{ChildCount}} {{ChildCount > 1 ? 'Childs' : 'Child'}}</span><span ng-show="InfantCount > 0">, {{InfantCount}} {{InfantCount > 1 ? 'Infants' : 'Infant'}}</span>)</td>
                                                                                        <td><b>{{FlightTotalFare}}/- </b></td>
                                                                                    </tr>
                                                                                </table>

                                                                            </div>
                                                                            <div class="tab-pane fade" id="contactBasic_4{{$index + 1}}" role="tabpanel" aria-labelledby="contact-basic-tab">
                                                                                <table class="table table-bordered">
                                                                                    <tr>
                                                                                        <td>Baggage Allowance</td>
                                                                                        <td>{{BaggageAllowance}}</td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--.col-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=""><div class="paxMobile paxContainer" id="paxContainer"><ul><li class="roomRow"><div class="widgetUserBlock fl padR10"><label class="ico14 db padB5"><span>Adults</span><small class="font13Lt db padT3"> (12+ yrs)</small></label><div class="number-spinner"><button class="fl minSpin" id="adultPaxMinus" data-dir="dwn">−</button><input type="text" id="adultPaxBox" class="fl numbSpin" value="1"><button class="fl plusSpin" id="adultPaxPlus" data-dir="up">+</button></div></div><div><div class="widgetUserBlock fl padR10"><label class="ico14 db padB5"><span>Children</span><small class="font13Lt db padT3"> (2-12 yrs)</small></label><div class="number-spinner"><button class="fl minSpin" id="childPaxMinus" data-dir="dwn">−</button><input type="text" id="childPaxBox" class="fl numbSpin" value="0"><button class="fl plusSpin" id="childPaxPlus" data-dir="up">+</button></div></div><div class="widgetUserBlock fl padR10"><label class="ico14 db padB5"><span>Infant(s)</span><small class="font13Lt db padT3"> (below 2 yrs)</small></label><div class="number-spinner"><button class="fl minSpin" id="infantPaxMinus" data-dir="dwn">−</button><input type="text" id="infantPaxBox" class="fl numbSpin" value="0"><button class="fl plusSpin" id="infantPaxPlus" data-dir="up">+</button></div></div></div></li></ul><div class="fl width100 padLR15 padB15 alignItemsCenter dF"><div class="padR10"> Travel Class</div><div class="width70"><div><label><!-- react-text: 3821 --> <!-- /react-text --><!-- react-text: 3822 --><!-- /react-text --></label><div><select class="width100 form-control ico14" id="gi_class"><option value="E">Economy</option><option value="B">Business</option><option value="F">First class</option><option value="W">Premium Economy</option></select></div></div></div></div></div></div>
</div>
