
@{
    ViewBag.Title = "EasepaySuccess";
    Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
}

<h4>@ViewBag.messagevalue</h4><br />
<h4>@ViewBag.TXnStatus</h4><br />
<h4>@ViewBag.txnid</h4><br />
<h4>@ViewBag.txnAmt</h4><br />


<a href="@Url.Action("Index","MerchantDashboard", new {area="Merchant" })" class="btn btn-primary" >Back to dashboard</a>