@model WHITELABEL.Data.Models.TBL_BALANCE_TRANSFER_LOGS
@using WHITELABEL.Data.Models
@using WHITELABEL.Web.Helper;
@{
    ViewBag.Title = "RequisitionDetails";
    //Layout = "~/Areas/Merchant/Views/Shared/_MerchantLayout.cshtml";

    Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
}
@Scripts.Render("~/bundles/MerchantRequisitionjs")

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 row headcolor">
            <div class="col-md-4" style="text-align:left; padding-top:3px;"><i class="fa fa-wallet  fa-3x"></i> </div>

            <div class="col-md-8" style="text-align:right; padding-top:10px;">
                <h3>
                    Apply for Requisition
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-3">Requisition Send To</label>
            <div class="col-md-9">
                <div class="inputer">
                    <div class="input-wrapper">
                        @if (ViewBag.PaymentMode == "Indirect")
                        {<div class="row">
                            <div class="col-md-3">
                                @Html.RadioButtonFor(m => m.RequisitionSendTO, "Distributor", new { id = "checkRequisitionTypeDist", Checked = "checked", style = " width:18px; height:18px;", onclick = "DisplayButton()" })
                                <label for="inlineRadio1" style="font-size:18px;">Distributor</label>

                            </div>
                            <div class="col-md-3">
                                @Html.RadioButtonFor(m => m.RequisitionSendTO, "Admin", new { id = "checkRequisitionTypeAdmin", style = " width:18px; height:18px;", onclick = "DisplayButton()" })
                                <label for="inlineRadio1" style="font-size:18px;">Admin</label>
                            </div>
                            <div class="col-md-3">
                                @Html.RadioButtonFor(m => m.RequisitionSendTO, "Admin", new { id = "RechargewithPaymentGatewway", style = " width:18px; height:18px;", onclick = "PAymentGatewaydiv()" })
                                <label for="inlineRadio1" style="font-size:18px;">Recharge with Payment Gateway</label>
                            </div>
                             <div class="col-md-3">
                                 @Html.RadioButtonFor(m => m.RequisitionSendTO, "Distributor", new { id = "CreditLimitManagmentID", style = " width:18px; height:18px;", onclick = "CreditManagment()" })
                                 <label for="inlineRadio1" style="font-size:18px;">Credit Requisition</label>
                             </div>
                        </div> }
                        else
                        { <div class="row">
                            <div class="col-md-3" style="display:none">
                                @Html.RadioButtonFor(m => m.RequisitionSendTO, "Distributor", new { id = "checkRequisitionTypeDist",  style = " width:18px; height:18px;", onclick = "DisplayButton()" })
                                <label for="inlineRadio1" style="font-size:18px;">Distributor</label>
                            </div>
                            <div class="col-md-3">
                                @Html.RadioButtonFor(m => m.RequisitionSendTO, "Admin", new { id = "checkRequisitionTypeAdmin", style = " width:18px; height:18px;", Checked = "checked", onclick = "DisplayButton()" })
                                <label for="inlineRadio1" style="font-size:18px;">Admin</label>
                            </div>
                            <div class="col-md-6">
                                @Html.RadioButtonFor(m => m.RequisitionSendTO, "Admin", new { id = "RechargewithPaymentGatewway", style = " width:18px; height:18px;", onclick = "PAymentGatewaydiv()" })
                                <label for="inlineRadio1" style="font-size:18px;">Recharge with Payment Gateway</label>
                            </div>
                              <div class="col-md-3">
                                  @Html.RadioButtonFor(m => m.RequisitionSendTO, "Admin", new { id = "CreditLimitManagmentID", style = " width:18px; height:18px;", onclick = "CreditManagment()" })
                                  <label for="inlineRadio1" style="font-size:18px;">Credit Requisition</label>
                              </div>                              
                        </div>}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="checkbyRequisition">
    @using (Html.BeginForm("RequisitionDetails", "MerchantRequisition", FormMethod.Post, new { area = "Merchant" }))
    {
        <div class="form-horizontal padding-top-20">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.SLN)
            @Html.HiddenFor(model => model.FROM_MEMBER)
@Html.HiddenFor(model=>model.RequisitionSendTO ,new {id="hdnRequisitionSendto" })
            @Html.HiddenFor(model => model.FromUser)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-heading">
                        </div><!--.panel-heading-->
                        <div class="card-body">
                            <div class="row">
                                
                                <div class="col-md-6 text-center" style="display:none;">
                                    @if (ViewBag.PaymentMode == "Indirect")
                                    {<div id="div_DIstributor">
                                        <div>
                                            <h3>@*Distributor*@ @*[@ViewBag.Introducer]*@ <a style="display:none;" href="javascript:void(0);" data-toggle="modal" data-target="#introducerMoreDetails"><i class="fa fa-info"></i></a></h3>
                                        </div>
                                        <span>@Html.ValidationMessageFor(model => model.ToUser, "", new { @class = "text-danger" })</span>
                                    </div> }
                                    
                                    <div id="div_WhiteLabel">
                                        <div>
                                            <h3>@*Admin*@ @*[@ViewBag.UnderWhiteLabel]*@ <a  style="display:none;" href="javascript:void(0);" data-toggle="modal" data-target="#WhiteLabelMoreDetails"><i class="fa fa-info"></i></a></h3>
                                            @Html.HiddenFor(model => model.WhiteLableID, new { @id = "hdnWhitelabelId" })
                                        </div>
                                        <span>@Html.ValidationMessageFor(model => model.WhiteLableID, "", new { @class = "text-danger" })</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Reference No</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @Html.EditorFor(model => model.REFERENCE_NO, "0", new { htmlAttributes = new { @class = "form-control", @placeholder = "Reference No", id = "txtReferenceNumber", maxlength = 20 } })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.REFERENCE_NO, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Request Date</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                @{
                                                DateTime date = DateTime.Now;
                                                DateTime min = date.AddYears(-10);
                                                DateTime max = date.AddYears(10);
                                                }
                                                <div class="input-wrapper">
                                                    @*@Html.EditorFor(model => model.REQUEST_DATE, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @min = min.ToString("yyyy-MM-dd"), @max = max.ToString("yyyy-MM-dd"), @onkeydown = "return false;" } })*@
                                                    @Html.EditorFor(model => model.REQUEST_DATE, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", id = "txtRequestDate", @onkeydown = "return false;" } })
                                                </div>
                                                <span><small> @Html.ValidationMessageFor(model => model.REQUEST_DATE, "", new { @class = "text-danger" })</small></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Amount</label>
                                            <div class="col-md-9">
                                                <div class="inputer">
                                                    <div class="input-wrapper">
                                                        @Html.EditorFor(model => model.AMOUNT, new { htmlAttributes = new { @class = "form-control", @placeholder = "XXXXX.XX" } })
                                                    </div>
                                                    <span><small>@Html.ValidationMessageFor(model => model.AMOUNT, "", new { @class = "text-danger" })</small></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Payment Type</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @*@Html.DropDownListFor(model => model.BANK_ACCOUNT, new SelectList((ViewBag.BankInformation) as SelectList, "Text", "Text"), "Select Bank", new { id = "BankID", @class = "form-control" }) *@
                                                    @Html.DropDownList("MemberBankList", new SelectList(string.Empty, "Value", "Text"), "--Select Bank--", new { @class = "form-control", id = "BankID" })
                                                    @Html.HiddenFor(model => model.BANK_ACCOUNT, new { id = "BankAccountDetails" })
                                                </div>
                                                <span><small>@Html.ValidationMessageFor(model => model.BANK_ACCOUNT, "", new { @class = "text-danger" })</small></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Payment Method</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @Html.DropDownListFor(m => m.PAYMENT_METHOD, new List<SelectListItem>
                                                                        { new SelectListItem{Text="Cash Deposit", Value="Cash Deposit"},
                                                                            new SelectListItem{Text="NEFT", Value="NEFT"},
                                                                            new SelectListItem{Text="RTGS", Value="RTGS"},
                                                                            new SelectListItem{Text="IMPS", Value="IMPS"},
                                                                            new SelectListItem{Text="Cash Deposit in bank", Value="Cash Deposit in bank"}},
                                                                            "Select Payment Method", new { id = "Paymentmethod", @class = "form-control" })
                                                </div>
                                                <span><small> @Html.ValidationMessageFor(model => model.PAYMENT_METHOD, "", new { @class = "text-danger" })</small></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Transaction Details</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @Html.TextAreaFor(model => model.TRANSACTION_DETAILS, 4, 73, new { htmlAttributes = new { @class = "form-control", @placeholder = "Transaction Details" } })
                                                </div>
                                                <span><small>@Html.ValidationMessageFor(model => model.TRANSACTION_DETAILS, "", new { @class = "text-danger" })</small></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Bank Charges</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @Html.EditorFor(model => model.BANK_CHARGES, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bank Charges",@Value="0" } })
                                                </div>
                                                <span><small>@Html.ValidationMessageFor(model => model.BANK_CHARGES, "", new { @class = "text-danger" })</small></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--.row-->
                        </div><!--.panel-body-->

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-6 text-left">
                                            @if (ViewBag.checkbank == "0")
                                        {
                                            <input type="submit" value="Send Requisition" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Update Requisition" class="btn btn-primary" />
                                        }
                                        </div>
                                        <div class="col-md-6 text-center">
                                            @*@Html.CheckBoxFor(model => model.checkboxBilldesk, new { htmlAttributes = new { @class = "checkbox-primary", id = "chkbildesk" } })
                                            Agree to recharge your wallet<br />
                                            <input type="submit" value="Recharge your wallet" class="btn btn-primary" />*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!--.panel-->
                </div><!--.col-md-12-->
            </div>

        </div>

        <div class="modal fade" id="introducerMoreDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Distributor Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="col-md-12 row">
                            <div class="col-md-4" style="padding-top:10px;">Distributor ID : </div>

                            <div class="col-md-8">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        @ViewBag.IntroducerMemberId
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 row">

                            <div class="col-md-4" style="padding-top:10px;">Name </div>

                            <div class="col-md-8">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        @ViewBag.IntroducerName
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 row">
                            <div class="col-md-4" style="padding-top:10px;">Mobile: </div>

                            <div class="col-md-8">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        @ViewBag.IntroducerMobile
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 row">
                            <div class="col-md-4" style="padding-top:10px;"> Email : </div>


                            <div class="col-md-8">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        @ViewBag.IntroducerEmail
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="WhiteLabelMoreDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Admin Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 row">
                            <div class="col-md-4" style="padding-top:10px;">Admin ID : </div>

                            <div class="col-md-8">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        @ViewBag.WhiteLabelMemberId
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 row">

                            <div class="col-md-4" style="padding-top:10px;">Name </div>

                            <div class="col-md-8">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        @ViewBag.WhitelabelName
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 row">
                            <div class="col-md-4" style="padding-top:10px;">Mobile: </div>

                            <div class="col-md-8">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        @ViewBag.WhiteLabelMobile
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 row">
                            <div class="col-md-4" style="padding-top:10px;"> Email : </div>


                            <div class="col-md-8">
                                <div class="inputer">
                                    <div class="input-wrapper">
                                        @ViewBag.WhiteLabelEmail
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }
    
</div>
<div id="Paymentgateway">
@using (Html.BeginForm("PaymentgatewayRechargewallet", "MerchantRequisition", FormMethod.Post, new { area = "Merchant" }))
{
    <div class="form-horizontal padding-top-20">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3">Recharge Type </div>
                                    <div class="col-md-3">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.DropDownListFor(m => m.PAYMENT_METHOD, new List<SelectListItem>
                                                                        { new SelectListItem{Text="Debit Card", Value="DC"},
                                                                            new SelectListItem{Text="Credit Card", Value="CC"},
                                                                            new SelectListItem{Text="Netbanking", Value="NB"},
                                                                            new SelectListItem{Text="UPI", Value="UPI"},
                                                                            new SelectListItem{Text="Mobile Wallet", Value="MW"},
                                                                            new SelectListItem{Text="Ola Money", Value="OM"},
                                                                            new SelectListItem{Text="EMI", Value="EMI"}},
                                                                            "Select Payment Method", new { id = "ddlPaymentgatewayType", @class = "form-control" })
                                            </div>
                                            <span><small>@Html.ValidationMessageFor(model => model.PAYMENT_METHOD, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3">Recharge Amount </div>
                                    <div class="col-md-3">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                @Html.EditorFor(model => model.AMOUNT, new { htmlAttributes = new { @class = "form-control", @placeholder = "XXXXX.XX",id= "txtPaymentGatewayAmount" } })
                                                @Html.HiddenFor(model => model.BANK_CHARGES, new { id = "hdnGrossAmount" })
                                            </div>
                                            <span><small>@Html.ValidationMessageFor(model => model.AMOUNT, "", new { @class = "text-danger" })</small></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                            <div class="col-md-12" id="divtotalamount">
                                <div class="form-group" style="margin-left:16px;">
                                    <table>
                                        <tr>
                                            <td>Transaction Charge :</td>
                                            <td><label id="lblNetAmount"></label></td>
                                        </tr>
                                        <tr>
                                            <td>Transaction Charge GST :</td>
                                            <td><label id="lblGSTAmount"></label></td>
                                        </tr>
                                        <tr>
                                            <td><b>Net Amount :</b></td>
                                            <td><b><label id="lblGrossAmount"></label></b></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3">
                                        <div class="inputer">
                                            <div class="input-wrapper">
                                                <input type="submit" value="Recharge your wallet" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

}
</div>
<div id="CreditLimitRequisition">
    @using (Html.BeginForm("CreditRequisitionRequest", "MerchantRequisition", FormMethod.Post, new { area = "Merchant" }))
    {
        <div class="form-horizontal padding-top-20">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">Credit Requisition Amount </div>
                                        <div class="col-md-3">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @Html.EditorFor(model => model.AMOUNT, new { htmlAttributes = new { @class = "form-control", @placeholder = "XXXXX.XX" } })
                                                </div>
                                                <span><small>@Html.ValidationMessageFor(model => model.AMOUNT, "", new { @class = "text-danger" })</small></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">Remarks</div>
                                        <div class="col-md-3">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @Html.TextAreaFor(model => model.TRANSACTION_DETAILS, 4,45 ,new { htmlAttributes = new { @class = "form-control"} })
                                                </div>
                                                <span><small>@Html.ValidationMessageFor(model => model.TRANSACTION_DETAILS, "", new { @class = "text-danger" })</small></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    <input type="submit" value="Credit Requisition" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    }
</div>




<script>
    $(document).ready(function () {
        $('#divtotalamount').hide();
	            const reqType = "Distributor";
            $('#hdnRequisitionSendto').val(reqType);
        $('#Paymentgateway').hide();
        $('#checkbyRequisition').show();
        $('#CreditLimitRequisition').hide();
        //$('#div_DIstributor').show();
        //$('#div_WhiteLabel').hide();
        DisplayButton();
        const currentYear = (new Date).getFullYear();
        const currentMonth = (new Date).getMonth();
        const currentDay = (new Date).getDate();
        //$('#txtRequestDate').datepicker({
        //    dateFormat: "yy-mm-dd",
        //    maxDate: new Date(currentYear, currentMonth, currentDay),
        //    uiLibrary: 'bootstrap4'
        //});
    })
    //$(function () {
    //    $('#txtRequestDate').datepicker({
    //        format: "dd-MM-yyyy",
    //        language: "es",
    //        autoclose: true,
    //        todayHighlight: true,
    //        changeMonth: true,
    //        changeYear: true
    //    });
    //});

    //function DisplayButton() {
    //    var DistributorchkYes = document.getElementById("checkRequisitionTypeDist");
    //    var WhitelabelchkYes = document.getElementById("checkRequisitionTypeAdmin");
    //    //var dvPassport = document.getElementById("btnDisplay");
    //    if (DistributorchkYes.checked) {
    //        $('#div_DIstributor').show();
    //        $('#div_WhiteLabel').hide();
    //    }
    //    else if (WhitelabelchkYes.checked) {
    //        $('#div_DIstributor').hide();
    //        $('#div_WhiteLabel').show();

    $("#BankID").change(function () {
        debugger;
        const bankname = $('#BankID').val();
        if (bankname == "Cash Deposit-Office") {
            const RefNo = "0000000000";
            $('#txtReferenceNumber').val(RefNo);
            
            const trnsmethod = "Cash Deposit";
            $('#Paymentmethod').val(trnsmethod);
            $('#BankAccountDetails').val(bankname);
            $("#Paymentmethod").attr("disabled", true);
            $("#txtReferenceNumber").attr("disabled", true);
            
        }
        else {
            $('#BankAccountDetails').val(bankname);
            $("#Paymentmethod").attr("disabled", false);
            $("#txtReferenceNumber").attr("disabled", false);
        }
        
    });
    $(document).ready(function () {
        debugger;
        var bankname = $('#BankID').val();
        $('#BankAccountDetails').val(bankname);
        const PayMethod = $('#Paymentmethod').val();
        if (PayMethod == "Cash Deposit")
        {
            const trnsmethod = "Cash Deposit-Office";
            $('#BankID').val(trnsmethod);
        }
    })

    $('#txtPaymentGatewayAmount').on('input blur change keyup', function () {
        const PaymentMode = $('#ddlPaymentgatewayType').val();
        var token = $(':input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/MerchantRequisition/CheckTotalTransactionAmount?area=Merchant",

            data: {
                __RequestVerificationToken: token,
                PaymentMode: PaymentMode,
                transactionAmount: $(this).val()
            },
            cache: false,
            type: "POST",
            success: function (data) {                
                $('#divtotalamount').show();
                const TotalAmount = data;
                const NetAmount = data.NetAmount;
                const GSTAmount = data.GST;
                const GrossAmount = data.GrossAmount;
                $('#lblNetAmount').html(NetAmount);
                $('#lblGSTAmount').html(GSTAmount);
                $('#lblGrossAmount').html(GrossAmount);
                $('#hdnGrossAmount').val(GrossAmount);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                alert("message : \n" + "An error occurred" + "\n status : \n" + status + " \n error : \n" + error);
            }
        });
    });
    $("#ddlPaymentgatewayType").change(function () {
        const TransactionAmount = $('#txtPaymentGatewayAmount').val();
        var token = $(':input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: "/MerchantRequisition/CheckTotalTransactionAmount?area=Merchant",

            data: {
                __RequestVerificationToken: token,
                PaymentMode: $(this).val(),
                transactionAmount: TransactionAmount
            },
            cache: false,
            type: "POST",
            success: function (data) {                
                $('#divtotalamount').show();
                const TotalAmount = data;
                const NetAmount = data.NetAmount;
                const GSTAmount = data.GST;
                const GrossAmount = data.GrossAmount;
                $('#lblNetAmount').html(NetAmount);
                $('#lblGSTAmount').html(GSTAmount);
                $('#lblGrossAmount').html(GrossAmount);
                $('#hdnGrossAmount').val(GrossAmount);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                alert("message : \n" + "An error occurred" + "\n status : \n" + status + " \n error : \n" + error);
            }
        });
    });
</script>