<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>White Label</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    @*<link href="~/newpanel/assets/styles/css/themes/admin_lite_purple_min.css" rel="stylesheet" />*@
    <link href="~/newpanel/assets/styles/css/themes/lite-purple.min.css" rel="stylesheet" />
    <link href="~/newpanel/assets/styles/vendor/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    <link href="~/Content/typeahead.css" rel="stylesheet" />
    <link href="~/Content/angucomplete-alt.css" rel="stylesheet" />

    <link href="~/newpanel/assets/styles/vendor/nuslider.min.css" rel="stylesheet" />

    <link href="~/newpanel/assets/styles/css/t-datepicker.min.css" rel="stylesheet" />
    <link href="~/newpanel/assets/styles/css/t-datepicker-blue.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @*<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>*@
    <script src="~/newpanel/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angucomplete-alt.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script scc="https://code.angularjs.org/1.8.0/angular-touch.min.js"></script>
    <script src="~/HelperJS/AngularjsLinks/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script type="text/javascript" src='//rawgithub.com/prajwalkman/angular-slider/master/angular-slider.js' charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js"></script>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script src="~/Scripts/checklist-model.js"></script>*@
    
    <style>
        .headcolor {
            text-align: center;
            background-color: #d8d8d8;
            margin-bottom: 40px;
            padding: 5px 0px;
            border-radius: 10px;
        }
    </style>

    <script src="~/Scripts/typeahead.mvc.model.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body class="text-left">
    <div class="app-admin-wrap layout-sidebar-large clearfix">
        <div class="main-header">
            <div class="logo">
                @if (@Session["LogoPath"] != "")
                {
                    <img src="@Session["LogoPath"]" alt="" style="width:70px !important;" />
                }
                @*<img src="~/newpanel/assets/images/logo.png" alt="">*@
            </div>

            <div class="menu-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div style="margin: auto"></div>
            <div class="header-part-right">
                <div style="padding-top:10px;"><span style="color:black; font-weight:bold;">Multilink API Balance: <label id="txtMultilinkBal">0.00</label> </span></div> &nbsp;&nbsp;&nbsp;
                <div style="padding-top:10px;"><span style="color:black; font-weight:bold;">Available Balance: <label id="txtAvailableBal"></label> </span>   <a href="#" onclick="CheckAdminAvailableBalance()" style="margin-left:10px;margin-right:20px;"><i class="fa fa-redo"></i></a></div>

                <div class="dropdown">
                </div>
                <!-- Notificaiton End -->
                <!-- User avatar dropdown -->
                <div class="dropdown">
                    <div class="user col align-self-end">
                        @*<img src="~/newpanel/assets/images/logo.png" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">*@
                        @if (@Session["LogoPath"] != "")
                        {
                            <img src="@Session["LogoPath"]" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-sort-down"></i>
                        }
                        else
                        {
                            <img src="~/newpanel/assets/images/BoomTravelsLogo.jpg" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sort-down"></i>
                        }
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <div class="dropdown-header">
                                <i class="i-Lock-User mr-1"></i> <b> @Session["WhiteLevelUserName"]</b>
                            </div>
                            <a class="dropdown-item" href="@Url.Action("UploadLogo", "MemberAPILabel",new {area="Admin" })">Upload Logo</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "MemberProfileUpdate",new {area="Admin" })">Update Profile</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "MemberChangePassword",new {area="Admin" })">Change Password</a>
                            @*<a class="dropdown-item" href="@Url.Action("Index", "MemberLoginDetails",new {area="Admin" })">Distributor Login Details</a>*@
                            <a class="dropdown-item" href="@Url.Action("Logout","AdminLogin",new {area ="Admin"})">Sign out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="side-content-wrap">
            <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
                <ul class="navigation-left">
                    <li class="nav-item" data-item="Channel">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-user-circle nav-icon"></i>
                            <span class="nav-text">Channel Member</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" data-item="Flight">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-plane nav-icon"></i>                    
                            <span class="nav-text">Flight Managment</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" style="display:none;">
                        <a class="nav-item-hold" href="@Url.Action("Index","AdminCommissionList", new {area= "Admin" })">
                            <i class="fa fa-coins nav-icon"></i>
                            <span class="nav-text">Admin Commission List </span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" data-item="RDSAgents">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-train nav-icon"></i>
                            <span class="nav-text">RDS Settings</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" data-item="RDSManagment">
                        <a class="nav-item-hold" href="#">                            
                            <i class="fa fa-train nav-icon"></i>
                            <span class="nav-text">RDS File Upload</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" data-item="RDSReport">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-train nav-icon"></i>
                            <span class="nav-text">RDS Report</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" style="display:none;">
                        <a class="nav-item-hold" href="@Url.Action("Index","MemberKYCVerification", new {area="Admin" })">
                            <i class="fa fa-search-plus nav-icon"></i>
                            <span class="nav-text">KYC Verification</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" data-item="CreditManagment">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-wallet nav-icon"></i>
                            <span class="nav-text">Credit Debit Managment </span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-hold" href="@Url.Action("Index","MemberBankDetails", new {area="Admin" })">
                            <i class="fa fa-university nav-icon"></i>
                            <span class="nav-text">Bank Details</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" data-item="DistCommission">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-hand-holding-usd nav-icon"></i>
                            <span class="nav-text">Commission Managment</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" data-item="Wallets">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-wallet nav-icon"></i>
                            <span class="nav-text">Requisition Management</span>
                        </a>
                        <div class="triangle"></div>
                    </li>

                    <li class="nav-item" data-item="Accounts">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-user nav-icon"></i>
                            <span class="nav-text">Accounts</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    
                    @*<li class="nav-item" data-item="manage">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-user-circle nav-icon"></i>
                            <span class="nav-text">Manage Profile</span>
                        </a>
                        <div class="triangle"></div>
                    </li>*@


                </ul>
            </div>

            <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
                <!-- Submenu Dashboards -->
                <ul class="childNav" data-parent="RDSManagment">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MemberRDSFileProcessing", new {area= "Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">RDS Book File Upload</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("GetAllRDSBookingList","MemberRDSFileProcessing", new {area= "Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Book File List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("AllRDSBookingList","MemberRDSFileProcessing", new {area= "Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Booked Trigger Result</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("RDSCancellationFileUpload","MemberRDSFileProcessing", new {area= "Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">RDS Cancellation File Upload</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("TDRFILEUplaod","MemberRDSFileProcessing", new {area= "Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">TDR File Upload</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("GetAllRDSCancellationList","MemberRDSFileProcessing", new {area= "Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Cancellation File List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("AllRDSBookingList","MemberRDSFileProcessing", new {area= "Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Booked or Non Booked PNR</span>
                        </a>
                    </li>
                </ul>
                <ul class="childNav" data-parent="DistCommission">
                    <li class="nav-item">
                        <a class="nav-item-hold" href="@Url.Action("Index","MemberCommissionSlab",new {area="Admin" })">
                            <i class="fa fa-hand-holding-usd nav-icon"></i>
                            <span class="nav-text">Create Commission</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-hold" href="@Url.Action("Index","MemberCommissiontag",new {area="Admin" })">
                            <i class="fa fa-hand-holding-usd nav-icon"></i>
                            <span class="nav-text">Distributor Commission Tagging </span>
                        </a>
                    </li>
                </ul>

                <ul class="childNav" data-parent="CreditManagment">
                    <li class="nav-item">
                        <a href="@Url.Action("GetCreditNoteList","MemberCreditManagment", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Manual Debit Credit </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("CreditBalanceSettlement","MemberCreditManagment", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Credit Balance Settlement </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("GetCreditLimitList","MemberCreditManagment", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Provide Credit Limit </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("DistributorCreditLimitReport","MemberCreditManagment", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Credit Limit Report</span>
                        </a>
                    </li>
                </ul>

                <ul class="childNav" data-parent="Wallets">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MemberRequisition", new {area="Admin" })" class="open">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Pending Requisition</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("ApprovedRequisition", "MemberRequisition", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Approved Requisition</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("DeclinedRequisition", "MemberRequisition", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Decline Requisition</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("CreditRequisitionList","MemberRequisition", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Pending Credit Requisition</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("AllMerchantCreditRequisitionReport", "MemberRequisition", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Approved Credit Requisition</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("PaymentGatewayWalletRechargeReport", "MemberRequisitionReport", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Payment Gateway Requisition Report</span>
                        </a>
                    </li>
                    <li class="nav-item" style="display:none;">
                        <a href="@Url.Action("DisplayAccount", "MemberDebitCreditRequest", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Manual balance transfer</span>
                        </a>
                    </li>
                    


                    <li class="nav-item" style="display:none;">
                        <a href="@Url.Action("RequisitionDispay", "RequestRequisition", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Request Requisition List</span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a href="@Url.Action("Index", "RequestRequisition", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Request Requisition</span>
                        </a>
                    </li>*@
                    <li class="nav-item"  style="display:none;">
                        <a href="@Url.Action("Index","MemberRequisitionReport", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Admin Requisition Report</span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                            <a href="@Url.Action("SuperRequisitionReport","MemberRequisitionReport", new {area="Admin" })">
                                <i class="fa fa-location-arrow nav-icon"></i>
                                <span class="item-name">Requisition Report</span>
                            </a>
                        </li>*@
                    <li class="nav-item"  style="display:none;">
                        <a href="@Url.Action("DistributorRequisitionReport","MemberRequisitionReport", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Distributor Requisition Report</span>
                        </a>
                    </li>
                    <li class="nav-item"  style="display:none;">
                        <a href="@Url.Action("MerchantRequisitionReport","MemberRequisitionReport", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Merchant Requisition Report</span>
                        </a>
                    </li>

                </ul>
                <ul class="childNav" data-parent="Accounts">
                    @*<li class="nav-item">
                            <a href="@Url.Action("Index", "MemberIssueDebitCreditNote",new {area="Admin" })">
                                <i class="fa fa-location-arrow nav-icon"></i>
                                <span class="item-name">Issue Credit/Debit Note</span>
                            </a>
                        </li>*@
                   
                    <li class="nav-item"  style="display:none;">
                        <a href="@Url.Action("Index", "MemberTransactionReport",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Admin Commission Statement</span>
                        </a>
                    </li>
                    <li class="nav-item"  style="display:none;">
                        <a href="@Url.Action("DistributorCommissionReport", "MemberTransactionReport",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Distributor Commission Statement</span>
                        </a>
                    </li>
                    <li class="nav-item" style="display:none;">
                        <a href="@Url.Action("MerchantCommission", "MemberTransactionReport",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Merchant Commission Statement</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("MemberAccountsReport", "MemberTransactionReport",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Member Ledger Report </span>
                        </a>
                    </li>

                </ul>

                <ul class="childNav" data-parent="RDSReport">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "MemberRDSReports",new {area="Admin" })">
                            @*<a href="@Url.Action("Index", "MemberRDSInformation",new {area="Admin" })">*@
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">RDS Booking List</span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a href="@Url.Action("MerchantRdsBooking", "MemberRDSInformation",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Individual Merchant RDS Booking </span>
                        </a>
                    </li>*@
                    <li class="nav-item">
                        <a href="@Url.Action("RDSCancellationReport", "MemberRDSReports",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">RDS Cancellation List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("RDSRefundReport", "MemberRDSReports",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name"> RDS Refund List </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("RDSMisMatchRDSIdReport", "MemberRDSReports",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name"> RDS MisMatch Booking List </span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a href="@Url.Action("MemberRDSRefundReport", "MemberRDSInformation",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name"> Merchant RDS Refund </span>
                        </a>
                    </li>*@
                </ul>


                @*<ul class="childNav" data-parent="manage">
                    <li class="nav-item">
                        <a href="@Url.Action("UploadLogo", "MemberAPILabel",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Upload Logo</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "MemberProfileUpdate",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Update Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "MemberChangePassword",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Change Password</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "MemberLoginDetails",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Distributor Login Details</span>
                        </a>
                    </li>
                </ul>*@

                <ul class="childNav" data-parent="Channel">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MemberAPILabel", new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Distributor details</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        
                        @*<a href="@Url.Action("Index", "MemberChannelRegistration",new {area="Admin" })">*@
                        <a href="@Url.Action("AllMerchantList", "MemberAPILabel", new { area = "Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Merchant Details</span>
                        </a>
                    </li>                    
                    
                    <li class="nav-item"  style="display:none;">
                        <a href="@Url.Action("ServiceDetails","MemberService",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Distributor permission details</span>
                        </a>
                    </li>
                    <li class="nav-item" style="display:none;">
                        <a href="@Url.Action("GetAllMerchantInformation","MemberAPILabel",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">All Merchant List</span>
                        </a>
                    </li>                   
                </ul>
                <ul class="childNav" data-parent="Flight">                                        
                    
                    <li class="nav-item" style="display:none;">
                        <a href="@Url.Action("GetAllMerchantInformation","MemberAPILabel",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">All Merchant List</span>
                        </a>
                    </li>                    
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MemberFlightMarkupSetting",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Flight Markup Setting</span>
                        </a>
                    </li>                    
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MemberFlightRescheduleProcess",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Flight Rescheduling List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("TotalFlightBookingHistory", "MemberTransactionReport",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Flight Booking List</span>
                        </a>
                    </li>
                </ul>
                <ul class="childNav" data-parent="RDSAgents">                                     
                    <li class="nav-item" style="display:none;">
                        <a href="@Url.Action("DistributorRailIDAllocationList","MemberRailIdApplication",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Sell Rail Id to Distributor</span>
                        </a>
                    </li>
                   
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MemberRailwayMappingSetting",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Merchant RailId Tagging</span>
                        </a>
                    </li>
                    <li class="nav-item" style="display:none;">
                        <a href="@Url.Action("Index","MemberRailAgentInformation",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Rail Agent Information</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("MerchantDSCFilesList","MemberRailwayMappingSetting",new {area="Admin" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Agent DSC Files List</span>
                        </a>
                    </li>
                    
                </ul>

            </div>
            <div class="sidebar-overlay"></div>
        </div>
        <!--=============== Left side End ================-->
        <!-- ============ Body content start ============= -->
        <div class="main-content-wrap sidenav-open d-flex flex-column">


            @RenderBody()

            <!-- Footer Start -->
            <div class="flex-grow-1"></div>

            <!-- fotter end -->
        </div>
        <!-- ============ Body content End ============= -->
    </div>
    <!--=============== End app-admin-wrap ================-->
    <!-- ============ Search UI Start ============= -->
    <div class="search-ui">
        <div class="search-header o-hidden">
            <img src="~/newpanel/assets/images/BoomTravelsLogo.jpg" alt="" class="logo float-left">
            <button class="search-close btn btn-icon bg-transparent float-right mt-2">
                <i class="i-Close-Window text-22 text-muted"></i>
            </button>
        </div>

        <input type="text" placeholder="Type here" class="search-input" autofocus>

        <div class="search-title">
            <span class="text-muted">Search results</span>
        </div>

        <div class="search-results list-horizontal">
            <div class="list-item col-md-12 p-0">
                <div class="card o-hidden flex-row mb-4 d-flex">
                    <div class="list-thumb d-flex">
                        <!-- TUMBNAIL -->
                        <img src="~/newpanel/assets/images/products/headphone-1.jpg" alt="">
                    </div>
                    <div class="flex-grow-1 pl-2 d-flex">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                            <!-- OTHER DATA -->
                            <a href="" class="w-40 w-sm-100">
                                <div class="item-title">Headphone 1</div>
                            </a>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">
                                $300
                                <del class="text-secondary">$400</del>
                            </p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                                <span class="badge badge-danger">Sale</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-item col-md-12 p-0">
                <div class="card o-hidden flex-row mb-4 d-flex">
                    <div class="list-thumb d-flex">
                        <!-- TUMBNAIL -->
                        <img src="~/newpanel/assets/images/products/headphone-2.jpg" alt="">
                    </div>
                    <div class="flex-grow-1 pl-2 d-flex">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                            <!-- OTHER DATA -->
                            <a href="" class="w-40 w-sm-100">
                                <div class="item-title">Headphone 1</div>
                            </a>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">
                                $300
                                <del class="text-secondary">$400</del>
                            </p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                                <span class="badge badge-primary">New</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-item col-md-12 p-0">
                <div class="card o-hidden flex-row mb-4 d-flex">
                    <div class="list-thumb d-flex">
                        <!-- TUMBNAIL -->
                        <img src="~/newpanel/assets/images/products/headphone-3.jpg" alt="">
                    </div>
                    <div class="flex-grow-1 pl-2 d-flex">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                            <!-- OTHER DATA -->
                            <a href="" class="w-40 w-sm-100">
                                <div class="item-title">Headphone 1</div>
                            </a>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">
                                $300
                                <del class="text-secondary">$400</del>
                            </p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                                <span class="badge badge-primary">New</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-item col-md-12 p-0">
                <div class="card o-hidden flex-row mb-4 d-flex">
                    <div class="list-thumb d-flex">
                        <!-- TUMBNAIL -->
                        <img src="~/newpanel/assets/images/products/headphone-4.jpg" alt="">
                    </div>
                    <div class="flex-grow-1 pl-2 d-flex">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                            <!-- OTHER DATA -->
                            <a href="" class="w-40 w-sm-100">
                                <div class="item-title">Headphone 1</div>
                            </a>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">
                                $300
                                <del class="text-secondary">$400</del>
                            </p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                                <span class="badge badge-primary">New</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGINATION CONTROL -->
        <div class="col-md-12 mt-5 text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination d-inline-flex">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <!-- ============ Search UI End ============= -->
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>*@
    @*<script src="~/newpanel/assets/js/vendor/jquery-3.3.1.min.js"></script>*@
    <script src="~/newpanel/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/newpanel/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/newpanel/assets/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="~/newpanel/assets/js/vendor/echarts.min.js"></script>
    <script src="~/newpanel/assets/js/es5/echart.options.min.js"></script>
    <script src="~/newpanel/assets/js/es5/dashboard.v1.script.min.js"></script>
    <script src="~/newpanel/assets/js/es5/script.min.js"></script>
    <script src="~/newpanel/assets/js/es5/sidebar.large.script.min.js"></script>
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <script src="~/newpanel/assets/js/t-datepicker.min.js"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <script src="~/Scripts/table2excel.js"></script>
    @Scripts.Render("~/bundles/typeahead")
    @*<script src="~/Scripts/typeahead.mvc.model.js"></script>*@
    <script>
        $('.mvc-grid').mvcgrid();
        $('.mvc-grid table').addClass('table');
    </script>
    <div id="progress" class="loading hidden">Loading&#8230;</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#progress').removeClass("hidden");
            $('#progress').hide();
        })

        function OnSuccess(response) {
            var message = response;
            bootbox.alert({
                message: message,
                size: 'small',
                callback: function () {
                    console.log(message);
                }
            })
            //alert(message);
        }
        function OnFailure(response) {
            alert("Error occured.");
        }

        $(document).ready(function () {
            //CheckAdminAvailableBalance();
            $('#WL_progress').removeClass("hidden");
            $('#WL_progress').hide();
        })
        function OnSuccess(response) {
            var message = response;
            bootbox.alert({
                message: message,
                size: 'small',
                callback: function () {
                    console.log(message);
                }
            })
            //alert(message);
        }
        function OnFailure(response) {
            alert("Error occured.");
        }


    </script>

    @*<script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendor/perfect-scrollbar.min.js"></script>
        <script src="assets/js/vendor/echarts.min.js"></script>
        <script src="assets/js/es5/echart.options.min.js"></script>
        <script src="assets/js/es5/dashboard.v1.script.min.js"></script>
        <script src="assets/js/es5/script.min.js"></script>
        <script src="assets/js/es5/sidebar.large.script.min.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            CheckAdminAvailableBalance();
            checkMultilinkBalance();
        });

        function CheckAdminAvailableBalance() {
            $.ajax({
                url: "/WhiteLevelAdmin/LoadAvailableBalance?area=Admin",
                cache: false,
                type: "post",
                datatype: "json",
                beforesend: function () {
                },
                success: function (data) {
                    if (data == "0") {
                        $('#txtAvailableBal').text("0");
                    }
                    else {
                        //var AvailableBal = data.CLOSING;
                        var AvailableBal = data.BALANCE;
                        //$("#txtAvailableBal").val(AvailableBal);
                        $('#txtAvailableBal').text(AvailableBal);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(status);
                }
            });
        }

        function checkMultilinkBalance() {
              $.ajax({
                  url: "/WhiteLevelAdmin/MultiLinkApiBalance?area=Admin",
                cache: false,
                type: "get",
                datatype: "json",
                  success: function (data) {
                      try {
                          let balance = JSON.parse(data).GetBalanceResponse.Balance[0].AccountBalance;
                          document.getElementById('txtMultilinkBal').innerHTML = balance;
                      } catch (e) {
                          document.getElementById('txtMultilinkBal').innerHTML = 0.00;
                      }
                },
                error: function (xhr, status, error) {
                    console.log(status);
                }
              });

        }

       
    </script>
</body>
</html>