@using NonFactors.Mvc.Grid;
@model WHITELABEL.Data.Models.TBL_FINAL_RDS_BOOKING
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="full-content margin-top-20">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 row headcolor">
                    <div class="col-md-4" style="text-align:left; padding-top:3px;"><i class="fa fa-list fa-3x"></i></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="text-align:right; padding-top:10px;">
                        <h3>
                            RDS Booking Report
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="panel-heading text-right">
                            <div class="card-title ">
                                <div class="row">
                                    <div class="text-left col-md-6 col-lg-4">
                                        @*<a href="@(Url.Action("ExportIndex", "PowerAdminRDSInformation") + ViewContext.HttpContext.Request.QueryString)" class="btn btn-info btn-xs"><span class="ion-forward"></span> Export</a>*@
                                        <a href="#" id="btnRdsBookingReportExport" class="btn btn-info btn-xs"><span class="ion-forward"></span> EXPORT</a>
                                    </div>
                                    <div class="text-left col-md-6 col-lg-4">

                                    </div>
                                    <div class="text-right col-md-6 col-lg-4">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div><!--.panel-heading-->
                        <div class="panel-body">
                            
                            <div class="row example-row" style="margin-bottom:10px;">
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Member Details</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @Html.EditorFor(m => m.FromUser, new { htmlAttributes = new { @id = "txtMemberaNamedetails", style = " width:100%; padding:5px;", placeholder = "Enter Search Details", @class = "form-control" } })
                                                    @Html.HiddenFor(model => model.SUPER_ID, new { id = "hdfmemberList" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Date From</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @Html.EditorFor(model => model.FROM_DATE, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control date", id = "txtFromDate", @onkeydown = "return false;", @placeholder = "yyyy-MM-dd" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Date From</label>
                                        <div class="col-md-9">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    @Html.EditorFor(model => model.TO_DATE, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control date", id = "txtToDate", @onkeydown = "return false;", @placeholder = "yyyy-MM-dd" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">

                                        <div class="col-md-12">
                                            <div class="inputer">
                                                <div class="input-wrapper">
                                                    <a href="#" class="btn btn-primary" id="btnSearchDAteWise">Search Date Wise</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row example-row" style="width:100%">
                                @Html.AjaxGrid(Url.Action("IndexGrid", "MemberRDSReports",new { area="Admin"}))
                            </div><!--.row-->
                        </div><!--.panel-body-->

                    </div><!--.panel-->
                </div>
            </div><!--.col-md-12-->
        </div><!--.row-->
    </div>
}

<script>
    //$(function () {
    //    $('#txtFromDate').datepicker({
    //        format: "yyyy-MM-dd",
    //        language: "es",
    //        autoclose: true,
    //        todayHighlight: true,
    //        changeMonth: true,
    //        changeYear: true
    //    });
    //});
    //$(function () {
    //    $('#txtToDate').datepicker({
    //        format: "yyyy-MM-dd",
    //        language: "es",
    //        autoclose: true,
    //        todayHighlight: true,
    //        changeMonth: true,
    //        changeYear: true
    //    });
    //});
    const currentYear = (new Date).getFullYear();
    const currentMonth = (new Date).getMonth();
    const currentDay = (new Date).getDate();
    $(document).ready(function () {
        $('#txtFromDate').datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: new Date(currentYear, currentMonth, currentDay),
            uiLibrary: 'bootstrap4'
        });
        $('#txtToDate').datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: new Date(currentYear, currentMonth, currentDay),
            uiLibrary: 'bootstrap4'
        });
    });
    $("#btnSearchDAteWise").on("click", function () {
        const MerchantId = $('#txtMemberaNamedetails').val();
        const Date_From = $('#txtFromDate').val();
        const Date_TO = $('#txtToDate').val();
        $('.mvc-grid').mvcgrid({
            //query: 'Whitelevel=' + Whitelevelval + '&Distributor=' + SuperIDval + '&Merchant=' + MerchantId + '&DateFrom=' + Date_From + '&Date_To=' + Date_TO,
            query: 'MerchantUser=' +MerchantId+ '&DateFrom=' + Date_From + '&Date_To=' + Date_TO,
            reload: true,
            reloadStarted: function () {
                $(".divFooterTotalComm").remove();
            },
        });
    });
</script>
<script type="text/javascript">
    $("#btnRdsBookingReportExport").click(function () {
        const MerchantId = $('#txtMemberaNamedetails').val();
        const Date_From = $('#txtFromDate').val();
        const Date_TO = $('#txtToDate').val();
        var url = '@(Url.Action("ExportCancellationIndex", "MemberRDSReports", new { area = "Admin" }) + ViewContext.HttpContext.Request.QueryString)?MerchantUser=' + MerchantId + '&DateFrom=' + Date_From + '&Date_To=' + Date_TO;
        window.location.href = url;
    })
</script>