<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Merchant</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link href="~/newpanel/assets/styles/css/themes/lite-purple.min.css" rel="stylesheet" />
    <link href="~/newpanel/assets/styles/vendor/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    <link href="~/Content/typeahead.css" rel="stylesheet" />

    <link href="~/newpanel/assets/styles/vendor/nuslider.min.css" rel="stylesheet" />
    @*<link href="~/newpanel/assets/styles/css/t-datepicker.min.css" rel="stylesheet" />
        <link href="~/newpanel/assets/styles/css/t-datepicker-blue.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @*<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script scc="https://code.angularjs.org/1.8.0/angular-touch.min.js"></script>
    <script src="~/HelperJS/AngularjsLinks/ui-bootstrap-tpls-3.0.6.min.js"></script>
    <script type="text/javascript" src='//rawgithub.com/prajwalkman/angular-slider/master/angular-slider.js' charset="utf-8"></script>
    <script src="~/HelperJS/AngularjsLinks/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js"></script>
    <script src="~/HelperJS/AngularjsLinks/angucomplete-alt.js"></script>
    <link href="~/Content/angucomplete-alt.css" rel="stylesheet" />
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script src="~/Scripts/checklist-model.js"></script>
    <script src="~/Areas/Merchant/MerchantHelperJS/AvailableBalance/Index.js"></script>
    <style>

        .headcolor {
            text-align: center;
            background-color: #d8d8d8;
            margin-bottom: 40px;
            padding: 5px 0px;
            border-radius: 10px;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        [ng-cloak] {
            display: none !important;
        }

        .animation {
            -webkit-transition: 5s;
        }

            .animation.ng-enter {
                -webkit-transition: 2s;
                transition: 2s linear all;
                opacity: 0;
            }

            .animation.ng-leave {
                -webkit-transition: 2s;
                transition: 2s linear all;
                opacity: 1;
            }

            .animation.ng-enter.ng-enter-active {
                opacity: 1;
            }

            .animation.ng-leave.ng-leave-active {
                opacity: 0;
            }
        .popover-body {
            padding:0px;
        }

        .main-content-wrap {
            width: 100%;
            float: right;
            margin-top: 50px;
            transition: all .24s ease-in-out;
            /* padding: 2rem 2rem 0; */
            position: relative;
            min-height: calc(100vh - 80px);
            background: #fff;
        }
    </style>

    <style>
        slider {
            display: inline-block;
            position: relative;
            height: 7px;
            width: 100%;
            margin: 25px 5px 25px 5px;
            vertical-align: middle;
        }

            slider span {
                white-space: nowrap;
                position: absolute;
                display: inline-block;
            }

                slider span.base {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                }

                slider span.bar {
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    -webkit-border-radius: 1em/1em;
                    border-radius: 1em/1em;
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0c0c0), color-stop(1, #8d8d8d));
                    background: -webkit-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
                    background: -moz-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
                    background: -o-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
                    background: -ms-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
                    background: linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
                    -webkit-box-shadow: inset 2px 2px 5px;
                    box-shadow: inset 2px 2px 5px;
                }

                    slider span.bar.selection {
                        width: 0%;
                        z-index: 1;
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #13b6ff), color-stop(1, #00a8f3));
                        background: -webkit-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
                        background: -moz-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
                        background: -o-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
                        background: -ms-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
                        background: linear-gradient(top, #13b6ff 0, #00a8f3 100%);
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }

                slider span.pointer {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    top: -8px;
                    background-color: #fff;
                    border: 1px solid #000;
                    z-index: 2;
                    -webkit-border-radius: 1em/1em;
                    border-radius: 1em/1em;
                }

                    slider span.pointer:after {
                        content: '';
                        background-color: #808080;
                        width: 8px;
                        height: 8px;
                        position: absolute;
                        top: 6px;
                        left: 6px;
                        -webkit-border-radius: 1em/1em;
                        border-radius: 1em/1em;
                    }

                    slider span.pointer:hover:after {
                        background-color: #000;
                    }

                    slider span.pointer.active:after {
                        background-color: #f00;
                    }

                slider span.bubble {
                    cursor: default;
                    top: -22px;
                    padding: 1px 3px 1px 3px;
                    font-size: 0.7em;
                    font-family: sans-serif;
                }

                    slider span.bubble.selection {
                        top: 15px;
                    }

                    slider span.bubble.limit {
                        color: #808080;
                    }
    </style>

    <script src="~/Scripts/typeahead.mvc.model.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body class="text-left">
    @*<input id="AIRADDITIONALAMOUNT" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["AIRADDITIONALAMOUNT"]" />
    <input id="AIRADDITIONALAMOUNT" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["AIRADDITIONALAMOUNT"]" />*@
    <input id="AIRADDITIONALAMOUNT" type="hidden" value="@Session["AIRADDITIONALAMOUNT"]" />
    <input id="INTERAIRADDITIONALAMOUNT" type="hidden" value="@Session["INTERAIRADDITIONALAMOUNT"]" />
    <div class="app-admin-wrap layout-sidebar-large clearfix">
        <div class="main-header">
            <div class="logo">
                @if (@Session["LogoPath"] != "")
                {
                    <img src="@Session["LogoPath"]" alt="" style="width:70px !important;" />
                }
                @*<img src="~/newpanel/assets/images/logo.png" alt="">*@
            </div>

            <div class="menu-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>

            @*<div class="d-flex align-items-center">
                    <!-- Mega menu -->
                    <div class="dropdown mega-menu d-none d-md-block">
                        <a href="#" class="btn text-muted dropdown-toggle mr-3" id="dropdownMegaMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mega Menu</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="row m-0">
                                <div class="col-md-4 p-4 text-left bg-img">
                                    <h2 class="title">Mega Menu <br> Sidebar</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores natus laboriosam fugit, consequatur.
                                    </p>
                                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem odio amet eos dolore suscipit placeat.</p>
                                    <button class="btn btn-lg btn-rounded btn-outline-warning">Learn More</button>
                                </div>
                                <div class="col-md-4 p-4 text-left">
                                    <p class="text-primary text--cap border-bottom-primary d-inline-block">Features</p>
                                    <div class="menu-icon-grid w-auto p-0">
                                        <a href="#"><i class="i-Shop-4"></i> Home</a>
                                        <a href="#"><i class="i-Library"></i> UI Kits</a>
                                        <a href="#"><i class="i-Drop"></i> Apps</a>
                                        <a href="#"><i class="i-File-Clipboard-File--Text"></i> Forms</a>
                                        <a href="#"><i class="i-Checked-User"></i> Sessions</a>
                                        <a href="#"><i class="i-Ambulance"></i> Support</a>
                                    </div>
                                </div>
                                <div class="col-md-4 p-4 text-left">
                                    <p class="text-primary text--cap border-bottom-primary d-inline-block">Components</p>
                                    <ul class="links">
                                        <li><a href="accordion.html">Accordion</a></li>
                                        <li><a href="alerts.html">Alerts</a></li>
                                        <li><a href="buttons.html">Buttons</a></li>
                                        <li><a href="badges.html">Badges</a></li>
                                        <li><a href="carousel.html">Carousels</a></li>
                                        <li><a href="lists.html">Lists</a></li>
                                        <li><a href="popover.html">Popover</a></li>
                                        <li><a href="tables.html">Tables</a></li>
                                        <li><a href="datatables.html">Datatables</a></li>
                                        <li><a href="modals.html">Modals</a></li>
                                        <li><a href="nouislider.html">Sliders</a></li>
                                        <li><a href="tabs.html">Tabs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Mega menu -->
                    <div class="search-bar">
                        <input type="text" placeholder="Search">
                        <i class="search-icon text-muted fa fa-search"></i>
                    </div>
                </div>*@

            <div style="width:55%; padding-left:45px;text-align:right;" class="d-none d-md-block">
                @*style="text-align:right;display:none;"*@
                <div class="col-md-12 row">
                    <div class="col-md-8 row"><div style="text-align:left" class="col-md-6"><b>@Session["MerchantCompanyName"]</b></div> <div class="col-md-5" style="color:red;font-weight:bold; padding-top:3px; text-align:left; border:1px solid #ccc; float:right; padding:5px; background-color:#d4d4d4; border-radius:5px"><span style=" border-right:1px solid #ccc; margin-right:5px;">CRL <i class="fas fa-rupee-sign" style="padding:0 10px;"></i> </span><label id="txtDistCreditLimitAmt"></label> </div></div>
                    <div class="col-md-4"><div style="color:green; font-weight:bold; padding-top:3px;  text-align:left; border:1px solid #ccc; float:left; padding:5px; background-color:#d4d4d4; border-radius:5px"><span style=" border-right:1px solid #ccc; margin-right:5px;">PCL <i class="fas fa-rupee-sign" style="padding:0 10px;"></i></span><label id="txtDistReservedCreditLimitAmt"></label></div></div>
                </div>
                <div class="col-md-12 row">
                    @*<span style="font-size:14px;padding-left: 500px;"> <b>@Session["MerchantCompanyName"]</b></span>*@                  
                </div>
            </div>
            <div class="header-part-right">
                @*<span style="margin-right:5px;"><a href="javascript:void(0)" class="btn btn-info btn-xs text-color-white" onclick="RechargeWallet()">Recharge your wallat</a></span>*@
                <div style="padding-top:10px;"><span style="color:black; font-weight:bold;"><i class="fa fa-rupee-sign"></i> <label id="txtAvailableBal"></label> </span>   <a href="#" onclick="CheckAvailableBalance()" style="margin-left:10px;margin-right:20px;"><i class="fa fa-redo"></i></a></div>
                <!-- Full screen toggle -->
                @*<i class="i-Full-Screen header-icon d-none d-sm-inline-block" data-fullscreen></i>*@
                <!-- Grid menu Dropdown -->
                @*<div class="dropdown">
                        @*<i class="i-Safe-Box text-muted header-icon" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"></i>*
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="menu-icon-grid">
                                <a href="#"><i class="i-Shop-4"></i> Home</a>
                                <a href="#"><i class="i-Library"></i> UI Kits</a>
                                <a href="#"><i class="i-Drop"></i> Apps</a>
                                <a href="#"><i class="i-File-Clipboard-File--Text"></i> Forms</a>
                                <a href="#"><i class="i-Checked-User"></i> Sessions</a>
                                <a href="#"><i class="i-Ambulance"></i> Support</a>
                            </div>
                        </div>
                    </div>*@
                <!-- Notificaiton -->
                <div class="dropdown">
                </div>

                <!-- Notificaiton End -->
                <!-- User avatar dropdown -->
                <div class="dropdown">
                    <div class="user col align-self-end">
                        @*<img src="~/newpanel/assets/images/logo.png" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">*@
                        @if (@Session["LogoPath"] != "")
                        {
                            <img src="@Session["LogoPath"]" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sort-down"></i>
                        }
                        else
                        {
                            <img src="~/newpanel/assets/images/BoomTravelsLogo.jpg" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sort-down"></i>
                        }
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <div class="dropdown-header">
                                <i class="i-Lock-User mr-1"></i> <b>@Session["MerchantUserName"]</b>
                            </div>
                            <a class="dropdown-item" href="@Url.Action("Index","MerchantProfileUpdate", new {area= "Merchant" })">Update Profile</a><br />
                            <a class="dropdown-item" href="@Url.Action("Index","MerchantPasswordChange", new {area= "Merchant" })">Change Password</a>
                            <a class="dropdown-item" href="@Url.Action("RDSPasswordChange","MerchantPasswordChange", new {area= "Merchant" })">Change RDS Password</a>
                            <a class="dropdown-item" href="@Url.Action("Logout","MerchantLogin",new {area ="Merchant"})">Sign out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-content-wrap">
            <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
                <ul class="navigation-left">
                    <li class="nav-item active" style="display:none;">
                        <a class="nav-item-hold" href="@Url.Action("Index","MerchantRechargeService", new {area= "Merchant" })">
                            <i class="fa fa-headset nav-icon"></i>
                            <span class="nav-text">Utility Services</span>
                        </a>
                        <div class="triangle"></div>
                    </li>

                    <li class="nav-item" data-item="Money" style="display:none;">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-rupee-sign nav-icon"></i>
                            <span class="nav-text">Money Remittance</span>
                        </a>
                        <div class="triangle"></div>
                    </li>

                    <li class="nav-item" data-item="Flight">
                        <a class="nav-item-hold" href="#">

                            <i class="fa fa-plane nav-icon"></i>
                            <span class="nav-text">Flight Booking</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    
                    <li class="nav-item" style="display:none;">
                        <a class="nav-item-hold" href="@Url.Action("Index","MerchantCommissionList", new {area= "Merchant" })">
                            <i class="fa fa-coins nav-icon"></i>
                            <span class="nav-text">Merchant Commission List </span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" style="display:none;">
                        <a class="nav-item-hold" href="@Url.Action("Index","MerchantRailApplication", new {area= "Merchant" })">
                            <i class="fa fa-subway nav-icon"></i>
                            <span class="nav-text">Rail Utility Application </span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" style="display:none;">
                        <a class="nav-item-hold" href="@Url.Action("Index","MerchantFingerprintdevice", new {area= "Merchant" })">
                            <i class="fa fa-fingerprint  nav-icon"></i>
                            <span class="nav-text">Fingerprint Device Setting</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item-hold" href="@Url.Action("Index","MerchantRequisition", new {area= "Merchant" })">
                            <i class="fa fa-user-edit nav-icon"></i>
                            <span class="nav-text">Requisition</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-item-hold" href="@Url.Action("FlightSearchDetails","MerchantFlightBooking", new {area= "Merchant" })">
                                <i class="fa fa-user-edit nav-icon"></i>
                                <span class="nav-text">Fligt Search</span>
                            </a>
                            <div class="triangle"></div>
                        </li>*@

                    <li class="nav-item" data-item="Report">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-clipboard-list nav-icon"></i>
                            <span class="nav-text">Report</span>
                        </a>
                        <div class="triangle"></div>
                    </li>

                    <li class="nav-item" data-item="manage">
                        <a class="nav-item-hold" href="#">
                            <i class="fa fa-user-circle nav-icon"></i>
                            <span class="nav-text">Manage Account</span>
                        </a>
                        <div class="triangle"></div>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-item-hold" href="@Url.Action("Index","MerchantOutlet", new {area= "Merchant" })">
                                <i class="fa fa-id-card nav-icon"></i>
                                <span class="nav-text">Merchant Outlet </span>
                            </a>
                            <div class="triangle"></div>
                        </li>*@
                </ul>
            </div>

            <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar data-suppress-scroll-x="true">
                <!-- Submenu Dashboards -->
                <ul class="childNav" data-parent="Money">
                    <li class="nav-item">
                        <a href="@Url.Action("SearchDMRCustomer","MerchantDMRSection", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Customer Information</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("MoneyTransferList","MerchantDMRSection", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">DMR Transaction List</span>
                        </a>
                    </li>
                </ul>
                <ul class="childNav" data-parent="Flight">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MerchantFlightDetails", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Flight Search</span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a href="@Url.Action("TestReturnPage","MerchantFlightDetails", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">single Trip</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("FlightBookingDetails","MerchantFlightDetails", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Flight Booking Details</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Returnpage","MerchantFlightDetails", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Flight return Details</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("OLdReturnpage","MerchantFlightDetails", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Flight return Details</span>
                        </a>
                    </li>*@
                    
                    <li class="nav-item">
                        <a href="@Url.Action("BookedFlightInformaiton","MerchantFlightDetails", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Booked Flight List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MerchantFlightRescheduleList", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Flight Rescheduling List</span>
                        </a>
                    </li>
                    
                </ul>



                <ul class="childNav" data-parent="Report">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MerchantRequisitionReport", new {area= "Merchant" })" class="open">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Requisition Report</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("MerchantCreditLimitList","MerchantTransactionReport", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Merchant Credit Limit Report</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MerchantTransactionReport", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Transaction Report</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("RechargeTransactionList","MerchantRechargeService", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Mobile Recharge Report</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MerchantRDSInformation", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">RDS Booking Report</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="@Url.Action("MerchantPNRCancellationList","MerchantTransactionReport", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">RDS Cancellation Report</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("MerchantRDSRefundList","MerchantRDSInformation", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">RDS Refund Report</span>
                        </a>
                    </li>


                </ul>



                <ul class="childNav" data-parent="manage">
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MerchantProfileUpdate", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Update Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","MerchantPasswordChange", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Change Password</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("RDSPasswordChange","MerchantPasswordChange", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Change RDS Password</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("EasebuzzPaymentGateway","MerchantRequisition", new {area= "Merchant" })">
                            <i class="fa fa-location-arrow nav-icon"></i>
                            <span class="item-name">Easebuzz Payment Gateway</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="sidebar-overlay"></div>
        </div>
        <!--=============== Left side End ================-->
        <!-- ============ Body content start ============= -->
        <div class="main-content-wrap sidenav-open d-flex flex-column">


            @RenderBody()

            <!-- Footer Start -->
            <div class="flex-grow-1"></div>

            <!-- fotter end -->
        </div>
        <!-- ============ Body content End ============= -->
    </div>
    <!--=============== End app-admin-wrap ================-->
    <!-- ============ Search UI Start ============= -->
    <div class="search-ui">
        <div class="search-header o-hidden">
            <img src="~/newpanel/assets/images/BoomTravelsLogo.jpg" alt="" class="logo float-left">
            <button class="search-close btn btn-icon bg-transparent float-right mt-2">
                <i class="i-Close-Window text-22 text-muted"></i>
            </button>
        </div>

        <input type="text" placeholder="Type here" class="search-input" autofocus>

        <div class="search-title">
            <span class="text-muted">Search results</span>
        </div>

        <div class="search-results list-horizontal">
            <div class="list-item col-md-12 p-0">
                <div class="card o-hidden flex-row mb-4 d-flex">
                    <div class="list-thumb d-flex">
                        <!-- TUMBNAIL -->
                        <img src="~/newpanel/assets/images/products/headphone-1.jpg" alt="">
                    </div>
                    <div class="flex-grow-1 pl-2 d-flex">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                            <!-- OTHER DATA -->
                            <a href="" class="w-40 w-sm-100">
                                <div class="item-title">Headphone 1</div>
                            </a>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">
                                $300
                                <del class="text-secondary">$400</del>
                            </p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                                <span class="badge badge-danger">Sale</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-item col-md-12 p-0">
                <div class="card o-hidden flex-row mb-4 d-flex">
                    <div class="list-thumb d-flex">
                        <!-- TUMBNAIL -->
                        <img src="~/newpanel/assets/images/products/headphone-2.jpg" alt="">
                    </div>
                    <div class="flex-grow-1 pl-2 d-flex">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                            <!-- OTHER DATA -->
                            <a href="" class="w-40 w-sm-100">
                                <div class="item-title">Headphone 1</div>
                            </a>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">
                                $300
                                <del class="text-secondary">$400</del>
                            </p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                                <span class="badge badge-primary">New</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-item col-md-12 p-0">
                <div class="card o-hidden flex-row mb-4 d-flex">
                    <div class="list-thumb d-flex">
                        <!-- TUMBNAIL -->
                        <img src="~/newpanel/assets/images/products/headphone-3.jpg" alt="">
                    </div>
                    <div class="flex-grow-1 pl-2 d-flex">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                            <!-- OTHER DATA -->
                            <a href="" class="w-40 w-sm-100">
                                <div class="item-title">Headphone 1</div>
                            </a>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">
                                $300
                                <del class="text-secondary">$400</del>
                            </p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                                <span class="badge badge-primary">New</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-item col-md-12 p-0">
                <div class="card o-hidden flex-row mb-4 d-flex">
                    <div class="list-thumb d-flex">
                        <!-- TUMBNAIL -->
                        <img src="~/newpanel/assets/images/products/headphone-4.jpg" alt="">
                    </div>
                    <div class="flex-grow-1 pl-2 d-flex">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                            <!-- OTHER DATA -->
                            <a href="" class="w-40 w-sm-100">
                                <div class="item-title">Headphone 1</div>
                            </a>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">Gadget</p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100">
                                $300
                                <del class="text-secondary">$400</del>
                            </p>
                            <p class="m-0 text-muted text-small w-15 w-sm-100 d-none d-lg-block item-badges">
                                <span class="badge badge-primary">New</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGINATION CONTROL -->
        <div class="col-md-12 mt-5 text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination d-inline-flex">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <!-- ============ Search UI End ============= -->
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>*@

    @*<script src="~/newpanel/assets/js/vendor/jquery-3.3.1.min.js"></script>*@
    <script src="~/newpanel/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/newpanel/assets/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="~/newpanel/assets/js/vendor/echarts.min.js"></script>
    <script src="~/newpanel/assets/js/es5/echart.options.min.js"></script>
    <script src="~/newpanel/assets/js/es5/dashboard.v1.script.min.js"></script>
    <script src="~/newpanel/assets/js/es5/script.min.js"></script>
    <script src="~/newpanel/assets/js/es5/sidebar.large.script.min.js"></script>
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    @*<script src="~/newpanel/assets/js/t-datepicker.min.js"></script>*@
    @*<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />*@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

    @Scripts.Render("~/bundles/typeahead")
    @*<script src="~/Scripts/typeahead.mvc.model.js"></script>*@
    <script>
        $('.mvc-grid').mvcgrid();
        $('.mvc-grid table').addClass('table');
    </script>
    <div id="progress" class="loading hidden">Loading&#8230;</div>
    <div id="preloader" style="display:none">
        <div id="loader"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.preloader').removeClass("hidden");
            $('.preloader').hide();
            $('#progress').removeClass("hidden");
            $('#progress').hide();
            CheckAvailableBalance();
        })
        function OnSuccess(response) {
            var message = response;
            bootbox.alert({
                message: message,
                size: 'small',
                callback: function () {
                    console.log(message);
                }
            })
            //alert(message);
        }
        function OnFailure(response) {
            alert("Error occured.");
        }
        $(document).ready(function () {
            //CheckAdminAvailableBalance();
            $('#WL_progress').removeClass("hidden");
            $('#WL_progress').hide();
        })
        function OnSuccess(response) {
            var message = response;
            bootbox.alert({
                message: message,
                size: 'small',
                callback: function () {
                    console.log(message);
                }
            })
            //alert(message);
        }
        function OnFailure(response) {
            alert("Error occured.");
        }
    </script>
    @*<script>
            $("select").on('change', function () {
                var str = 0;
                var tot = 0;
                $(".passenger option:selected").each(function () {
                    tot = $(this).text() * 1;
                    str = str + tot;
                });
                $("#count").text(str);
            }).change();


            $(function () {
                $('[rel=popover]').popover({
                    html: true,
                    content: function () {
                        return $('#popover_content_wrapper').html();
                    }
                });
            });
        </script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            CheckAvailableBalance();
        });
        function CheckAvailableBalance() {
            $.ajax({
                url: "/MerchantDashboard/LoadAvailableBalance?area=Merchant",
                cache: false,
                type: "post",
                datatype: "json",
                beforesend: function () {
                },
                success: function (data) {
                    if (data == "0") {
                        $('#txtAvailableBal').text("0");
                        $('#txtDistCreditLimitAmt').text("0");
                        $('#txtDistReservedCreditLimitAmt').text("0");
                    }
                    else {
                        //var AvailableBal = data.CLOSING;
                        var AvailableBal = data.BALANCE;
                        var CreditLimitAmt = data.CREDIT_LIMIT;
                        var ReservedCreditLimitAmt = data.RESERVED_CREDIT_LIMIT;
                        //$("#txtAvailableBal").val(AvailableBal); BALANCE
                        $('#txtAvailableBal').text(AvailableBal);
                        $('#txtDistCreditLimitAmt').text(CreditLimitAmt);
                        $('#txtDistReservedCreditLimitAmt').text(ReservedCreditLimitAmt);
                    }

                },
                error: function (xhr, status, error) {
                    console.log(status);
                }
            });
        }
    </script>
    <style>
        .svg_holder {
            display: block;
            width: 36px;
            height: 36px;
            margin: 0 auto;
        }

            .svg_holder svg {
                width: 36px;
                height: 36px;
                transform: scale(1.42);
                color: #AB1B5C !important;
            }

                .svg_holder svg .svgGrp {
                    transform: translate(10px, 0);
                    color: #AB1B5C !important;
                }

        .text_holder {
            display: block;
        }

        .inputer.floating-label {
            margin-top: 0;
        }

        .nav-tabs {
            border: 0;
        }
    </style>
</body>
</html>