
@{
    ViewBag.Title = "Payment Status";
    //Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    Layout = null;
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Devcon Payment Gateway</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/MvcGrid/bootstrap.min.css" rel="stylesheet" />
    @*<link href="E:/Cover Template for Bootstrap_files/bootstrap.min.css" rel="stylesheet">*@

    <!-- Custom styles for this template -->
    <link href="~/Content/MvcGrid/cover.css" rel="stylesheet" />
    @*<link href="E:/Cover Template for Bootstrap_files/cover.css" rel="stylesheet">*@
</head>
<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Payment Status</h1>
            <table class="table table-striped" style="margin:50px 0; border:2px solid #dee2e6">
                <thead>
                    <tr>
                        <th scope="col" style="border-right: 2px solid;">Status</th>
                        <th scope="col">@ViewBag.TXnStatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="border-right: 2px solid;">Txn Id</th>
                        <td>@ViewBag.EasypayId </td>
                    </tr>
                    <tr>
                        <th style="border-right: 2px solid;">Bank Reference No</th>
                        <td>@ViewBag.txnid </td>
                    </tr>
                    <tr>
                        <th style="border-right: 2px solid;">Amount</th>
                        <td>@ViewBag.txnAmt</td>
                    </tr>
                    <tr>
                        <th style="border-right: 2px solid;">Payment Source</th>
                        <td>@ViewBag.payment_source</td>
                    </tr>
                    <tr>
                        <th style="border-right: 2px solid;">Payment Msg</th>
                        <td>@ViewBag.error_Message</td>
                    </tr>
                </tbody>
            </table>
            <p class="lead">
                <a href="@Url.Action("Index","MerchantDashboard", new {area="Merchant" })" class="btn btn-lg btn-secondary">Back To Dashboard</a>
            </p>
        </main>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
</body>
</html>


@*<h4>@ViewBag.BillDeskResponse</h4><br />

    <a href="@Url.Action("Index","MerchantDashboard", new {area="Merchant" })" class="btn btn-primary">Back to dashboard</a>*@









@*@{
    ViewBag.Title = "EasepaySuccess";
    //Layout = "~/Areas/Merchant/Views/Shared/_RetailerLayout.cshtml";
    Layout = null;
}*@

@*<div style="width:100%">
    <div style="text-align:center;width:100%">
        <table>
            <tr>
                <td>Recharge Status</td>
                <td>@ViewBag.messagevalue</td>
            </tr>
            <tr>
                <td>Transaction Id</td>
                <td>@ViewBag.txnid</td>
            </tr>
            <tr>
                <td>Transaction Amount</td>
                <td>@ViewBag.txnAmt</td>
            </tr>
            <tr>
                <td>Transaction Ref No</td>
                <td>@ViewBag.easepayid</td>
            </tr>
            <tr>
                <td colspan="1"><a href="@Url.Action("Index","MerchantDashboard", new {area="Merchant" })" class="btn btn-primary">Back to dashboard</a></td>
            </tr>
        </table>
    </div>
</div>*@




